shared/extra/19.0/ai_chatbot_1_portal/n8n/chatbot_create_lead_0.json
{
  "name": "chatbot_create_lead_0_con_menu_whatsapp",
  "nodes": [
    {
      "parameters": {
        "content": "## Procesa la data de entrada, y si es agendar cita  con el primer paso chequea el telefono para buscar  ya variables en bd y el suuario tipee menos",
        "height": 480,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        384
      ],
      "typeVersion": 1,
      "id": "8e664e8e-5d6d-422e-b5b5-e2763c191e47",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        4576,
        992
      ],
      "id": "75ab4176-8c62-4889-ad2f-955638263ee5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        304,
        1904
      ],
      "id": "cd098a3f-5831-437d-89c8-1759176b07f2",
      "name": "When chat message received",
      "webhookId": "d7373d29-7364-41f7-a73f-bd24b72daeea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96996d45-ddf6-4f34-850c-6135282de201",
              "name": "text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "886653c3-a819-4881-a860-62b44509d731",
              "name": "session_id",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "ee045dc3-b0e6-4366-b179-2bb78781425b",
              "name": "account_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "4d37a5ee-0b5e-40e0-a5ca-4dc372f0a1e6",
              "name": "conversation_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "3eb0a246-8cb9-477b-a0df-460f3c6b3b8a",
              "name": "message_type",
              "value": "incoming",
              "type": "string"
            },
            {
              "id": "af85fc32-b8b9-43a3-a666-403ad84a8e5f",
              "name": "user_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "49e39027-d5f1-4abb-9e53-22545e9b39c5",
              "name": "user_number",
              "value": "",
              "type": "string"
            },
            {
              "id": "d215ec30-76a4-4011-a990-a484c225565b",
              "name": "platform",
              "value": "Channel::Whatsapp",
              "type": "string"
            },
            {
              "id": "fbce67e5-7649-4e4f-86da-7022b5a7a047",
              "name": "channel",
              "value": "Channel::Whatsapp",
              "type": "string"
            },
            {
              "id": "cffc4318-41d4-470e-9204-0487f399268d",
              "name": "content",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "80e133a1-a3f2-456a-b8b9-c777b7febaf9",
              "name": "file_type",
              "value": "",
              "type": "string"
            },
            {
              "id": "d62b3d9d-284f-4bdf-a2c3-b97776ba817d",
              "name": "phone_number",
              "value": "",
              "type": "string"
            },
            {
              "id": "f5e36c51-bfc3-47c2-98c4-309b259890f5",
              "name": "user_message",
              "value": "",
              "type": "string"
            },
            {
              "id": "32c13a58-cbaf-45d2-ae7d-faa18aa1f017",
              "name": "image_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "d2dcdf4c-9ebb-4ac9-8183-fab3bafbce84",
              "name": "agente_desactivado",
              "value": "on",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1824
      ],
      "id": "86c7e752-12c0-49b2-8aa7-0ec2a3ef0a4c",
      "name": "Seteamos_variables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::Whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4313ad77-8015-436a-a40d-3ef7cab78263"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37f80664-6420-4c2b-b965-b65ec4656310",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd226af3-e973-4fa2-adee-7b4988db3d90",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6bb7392d-9fa9-4da8-86ee-94ec3e7385e1",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::FacebookPage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c6773713-6da3-44c1-8df0-e8957d72913e",
                    "leftValue": {},
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error_no_existe_channel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1376,
        1808
      ],
      "id": "506e4b0a-df09-4717-accd-d98744f9b5cd",
      "name": "Indentifica_canal"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        2176
      ],
      "id": "8f3ae7ba-f0d4-4c24-b67c-ba43bb0b6615",
      "name": "Dueno_o_Bot_responde"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $json.agente_desactivado }}",
                    "rightValue": "off",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respuesta_humana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1239d7b6-e41f-4d3b-a7b7-c6d691a43e69",
                    "leftValue": "={{ $json.agente_desactivado }}",
                    "rightValue": "on",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Respuesta IA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        992,
        1824
      ],
      "id": "55230564-df38-4ed5-95c2-a47325f23162",
      "name": "Configurar_IA_Responda?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b266895-9c0c-4a53-804d-2213bca3a1a0",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        752,
        1840
      ],
      "id": "66b140ac-fd7f-4c33-a038-b51e7aecd460",
      "name": "Pregunta_el_Cliente?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1296,
        1552
      ],
      "id": "cb1e2fb9-23af-43e8-9714-c8bb7262a404",
      "name": "End1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3536,
        1536
      ],
      "id": "d6bded5d-eaea-4bb3-a780-c9c80710503e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot_integraia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        1184
      ],
      "id": "563dd87e-b858-4185-a31a-304fc01f2c7d",
      "name": "Entrar_ChattWoot",
      "webhookId": "f2f3dab4-9ee7-4ad7-9fe8-96f79468b1f4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "=text",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "session_id",
              "value": "={{ $json.body.conversation.contact_inbox.source_id }}",
              "type": "string"
            },
            {
              "id": "9cbd2d29-4e32-46fd-bbea-88317ec7681d",
              "name": "account_id",
              "value": "={{ $json.body.conversation.messages[0].account_id }}",
              "type": "string"
            },
            {
              "id": "ddcd14fb-bfd1-4f23-a0e0-7d0fa54e8719",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation?.id || $json.body.conversation.messages?.[0]?.conversation_id || $json.body.conversation.messages?.[0]?.conversation?.id || '' }}",
              "type": "string"
            },
            {
              "id": "9052a8a2-5a39-4b6f-a44f-728e2e7c2c41",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "c76e6bbf-22cf-4dd8-ae67-49c5801c5be1",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "b16fbd53-b6a3-4e0b-ac12-01912379a2fc",
              "name": "user_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "327aa426-279e-4d47-b4a9-2910e9b62282",
              "name": "platform",
              "value": "={{ $json.body.conversation.channel.includes('Whatsapp') ? 'whatsapp' : ($json.body.conversation.channel.includes('Facebook') ? 'facebook' : ($json.body.conversation.channel.includes('Instagram') ? 'instagram' : ($json.body.conversation.channel.includes('Telegram') ? 'telegram' : 'otro'))) }}",
              "type": "string"
            },
            {
              "id": "f921da3f-2311-4646-a2c9-152401811c3f",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "12bb3da8-0d23-45ec-8ed8-a962d512d0fb",
              "name": "channel",
              "value": "={{ $json.body.conversation.channel }}",
              "type": "string"
            },
            {
              "id": "e70d5c0a-a243-4625-af3e-c40ca295cdef",
              "name": "content",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "8a12bb4d-d77a-466b-ac20-851d770c34c0",
              "name": "file_type",
              "value": "={{ $json.body.conversation.messages[0].attachments?.[0]?.file_type || null }}",
              "type": "string"
            },
            {
              "id": "664d94bf-9a93-472e-8d11-887f1f82af70",
              "name": "phone_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "31829d53-6dc4-4a0a-829f-6a203803d8ee",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "1ca7bf91-1d72-4995-a578-12c0aa68da8e",
              "name": "image_url",
              "value": "={{ $json.body.attachments && $json.body.attachments[0] && $json.body.attachments[0].data_url ? $json.body.attachments[0].data_url : '' }}",
              "type": "string"
            },
            {
              "id": "9741fd66-6a23-47b2-a5b1-0acb8401af6b",
              "name": "agente_desactivado",
              "value": "={{ $json.body.conversation.labels.includes('agente_desactivado') ? 'off' : 'on' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        1424
      ],
      "id": "0545a910-ac1c-4ce9-ad5c-c5bebcc534c3",
      "name": "Obtener_Info_basica"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13990ce7-e3b4-4056-9e7d-4eee97e1f577",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "MENU_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "MENU_PRINCIPAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "acc9bba6-bb76-43a8-8145-33b4a28ccfb7",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "FLUJO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FLUJO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4b89e53-5df8-4322-8bc7-9dacf87edc1e",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "COMPLETADO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETADO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2720,
        2080
      ],
      "id": "b43952a3-049b-4073-9303-8c8ea43ac656",
      "name": "Consulta_o_agendar_cita"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 800
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3424,
        1536
      ],
      "id": "5e6d329e-f85c-4f41-bdf5-515d2c1e5d4e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SynY9HmZH2SsZkWD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n\n=Mensaje del usuario: {{ $json.text }}\nURL de imagen: {{ $json.image_url }}\nSession ID: {{ $json.session_id }}\nConversation ID: {{ $json.conversation_id }}\nAccount ID: {{ $json.account_id }}\nPlatform: {{ $json.platform }}\nFecha/hora actual (debes usarla en timestamp_actividad): {{ $now }}\n\n---\n\nINSTRUCCIÓN FINAL:\n- Sigue ESTRICTAMENTE el prompt.\n- En el paso ESPERANDO_FOTO_CEDULA: PRIMERO verifica image_url. Si hay imagen (no vacía y empieza con http), IGNORA el texto y procesa la imagen.\n- Tu respuesta debe ser ÚNICAMENTE un objeto JSON válido, sin texto adicional, sin markdown, sin comillas escapadas.\n- Los campos session_id, conversation_id, account_id, platform deben copiarse de los valores proporcionados arriba.\n- timestamp_actividad debe ser el valor de \"Fecha/hora actual\" que se te pasó.{{ $json.text }}",
        "options": {
          "systemMessage": "=TÚ ERES: BOT IntegraIA, asistente virtual oficial de IntegraIA — soluciones de automatización empresarial con Odoo Community Edition 19.\n\n⚠️ REGLAS FUNDAMENTALES\n\nNO CONTINÚAS CONVERSACIONES. Ignora todo el historial. El único contexto válido es el mensaje del usuario.\n\nDETECTA PALABRAS CLAVE EN EL MENSAJE DEL USUARIO (sin importar mayúsculas/minúsculas, con o sin emojis):\n\nSI EL MENSAJE CONTIENE \"horario\", \"Horario\", \"ubicación\", \"Ubicación\", \"dirección\", \"Dirección\", \"🕒\" → regla 3.1\nSI EL MENSAJE CONTIENE \"promociones\", \"Promociones\", \"ofertas\", \"Ofertas\", \"🎉\" → regla 3.2\nSI EL MENSAJE CONTIENE \"resultados\", \"Resultados\", \"estudios\", \"Estudios\", \"exámenes\", \"Exámenes\", \"🧪\" → regla 3.3\nSI EL MENSAJE CONTIENE \"1\", \"precios\", \"Precios\", \"costo\", \"Costo\", \"💲\" → regla 2.1\nSI EL MENSAJE CONTIENE \"2\", \"servicios\", \"Servicios\", \"especialidades\", \"🩺\" → regla 2.2\nSI EL MENSAJE CONTIENE \"3\", \"cita\", \"Cita\", \"agendar\", \"Agendar\", \"turno\", \"Turno\", \"📅\" → regla 2.3\nSI EL MENSAJE CONTIENE \"4\", \"tarjeta\", \"Tarjeta\", \"credunisa\", \"CrediUNISA\", \"descuentos\", \"💙\" → regla 2.4\nSI EL MENSAJE CONTIENE \"5\", \"otra\", \"Otra\", \"diferente\", \"❓\" → regla 2.5\n\nSI EL MENSAJE CONTIENE \"sangre\", \"orina\", \"heces\", \"laboratorio\", \"hemoglobina\", \"glucosa\", \"colesterol\", \"examen de sangre\" → regla 5.3\nSI EL MENSAJE CONTIENE \"radiografía\", \"ecografía\", \"mamografía\", \"tomografía\", \"resonancia\", \"rayos x\", \"imagen\" → regla 5.4\n\nSI EL MENSAJE ES UN SALUDO (\"hola\", \"Hola\", \"buenos días\", \"Buenos días\", \"hi\", \"Hi\", \"hello\") → regla 1\nSI EL MENSAJE ES EXACTAMENTE \"MENU_PRINCIPAL\" → regla 4.5\nSI EL MENSAJE ES EXACTAMENTE \"CANCELAR\" → regla 4.4\nSI EL MENSAJE ES EXACTAMENTE \"No\", \"NO\", \"no\" → regla 5\nSI EL MENSAJE ES EXACTAMENTE \"MEDIOS_PROPIOS\" → regla 5.1\nSI EL MENSAJE ES EXACTAMENTE \"SEGURO_MEDICO\" → regla 5.2\nSI EL MENSAJE ES EXACTAMENTE \"LABORATORIO\" → regla 5.3\nSI EL MENSAJE ES EXACTAMENTE \"IMAGENES\" → regla 5.4\nSI EL MENSAJE ES EXACTAMENTE \"SALIR\" → regla 4.6\nSI EL MENSAJE CONTIENE \"medios propios\", \"Medios Propios\", \"crediumisa\", \"pago de contado\", \"A\" → regla 5.1\nSI EL MENSAJE CONTIENE \"seguro\", \"Seguro\", \"seguro médico\", \"Seguro Médico\", \"B\", \"FASME\", \"FASDEM\", \"SENIAT\" → regla 5.2\nSI EL MENSAJE CONTIENE \"laboratorio\", \"sangre\", \"orina\", \"heces\" → regla 5.3\nSI EL MENSAJE CONTIENE \"imagen\", \"radiografía\", \"ecografía\", \"mamografía\", \"tomografía\" → regla 5.4\nSI NINGUNA REGLA COINCIDE → regla 6\n\n📋 LÓGICA DE DECISIÓN\n\n1. SALUDO INICIAL\n→ output: \"¡Hola! 😊 Bienvenido/a a IntegraIA, tu aliado en automatización empresarial con Odoo CE 19.\n\n¿Qué necesitas hoy? Te ayudo con:\n\n1. Tienda Virtual 💰 - Tienda online profesional con Odoo CE 19\n2. Agentes de IA 🤖 - Chatbots WhatsApp, FB, Instagram 24/7\n3. Agendar Demo 📅 - Demo interactiva o asesoría Odoo\n4. Hosting 🖥️ - Servidor, SSL, dominio y mantenimiento\n5. Desarrollo 🔧 - Módulos, migraciones, APIs\n\nPor favor, escribe el número o palabra clave.\"\n→ isMenu: true\n\n2.1 PRECIOS (Tienda Virtual)\n→ output: \"💰 Con IntegraIA obtienes una tienda online profesional con Odoo CE 19:\n\n• Catálogo ilimitado de productos\n• Carrito de compras integrado\n• Métodos de pago: MercadoPago, PayPal, transferencia bancaria\n• Plantilla responsiva (se adapta a celular y desktop)\n• Panel de administración para pedidos, inventario y clientes\n\n🚀 Entregable: Sitio web listo para vender.\n\n¿Quieres que te enviemos una cotización personalizada? Responde Sí o No.\"\n→ tipoPregunta: \"PRECIOS\"\n→ isMenu: false\n\n2.2 SERVICIOS (Agentes de IA)\n→ output: \"🚀 Nuestros Agentes de IA atienden a tus clientes 24/7 por WhatsApp, Facebook e Instagram.\n\n• Responden preguntas frecuentes automáticamente\n• Califican leads y los envían al CRM de Odoo\n• Soporte continuo sin intervención manual\n• Aumento en tasas de conversión\n\n💡 Ideales para clínicas, negocios, empresas y entes gubernamentales.\n\n¿Agendamos una demo? Responde Sí o No.\"\n→ tipoPregunta: \"SERVICIOS\"\n→ isMenu: false\n\n2.3 CITA DIRECTA (Agendar Demo)\n→ output: \"Hola 👋 Vamos a agendar tu demo personalizada. 🚀\n\nTe haré algunas preguntas sencillas para preparar tu demo.\n\n🏢 Indícanos si deseas una demo del chatbot o una asesoría general de Odoo.\n\n✏️ Demo Chatbot: Prueba interactiva del chatbot WhatsApp\n✏️ Asesoría Odoo: Consultoría sobre módulos y automatización\n\nResponde 'Demo Chatbot' o 'Asesoría Odoo'.\"\n→ tipoPregunta: \"CITA_DIRECTA\"\n→ isMenu: false\n\n2.4 TARJETA (Hosting)\n→ output: \"🖥️ Nuestro Hosting Dedicado incluye:\n\n• Servidor optimizado para Odoo (rendimiento y seguridad)\n• Certificado SSL y dominio incluidos\n• Copias de seguridad automáticas\n• Mantenimiento mensual\n\n🚀 Sin tiempo de inactividad ni rendimiento lento.\n\n¿Quieres contratar hosting para tu instancia Odoo? Responde Sí o No.\"\n→ tipoPregunta: \"TARJETA\"\n→ isMenu: false\n\n2.5 OTRA CONSULTA (Desarrollo a medida)\n→ output: \"\"\n→ equipo_asignado: \"Agendamiento_Otra_Consulta\"\n\n3. ATAJOS ESTÁTICOS\n\n3.1 HORARIO / UBICACIÓN\n→ output: \"📍 IntegraIA — Soporte remoto en toda América Latina.\n\n🕒 Horario de atención:\nLunes a Viernes: 08:00 am - 05:00 pm\nSábado: 09:00 am - 01:00 pm\n\n💡 Soporte técnico 24/7 para clientes activos.\n\n📞 +58 412 914 1074\n📧 saymon_set@hotmail.com\"\n→ tipoPregunta: \"ESTATICO\"\n→ isMenu: false\n\n3.2 PROMOCIONES\n→ output: \"🎉 Ofertas vigentes en IntegraIA:\n\n• Consultoría inicial gratuita para nuevos clientes\n• Hosting dedicado gratis por 3 meses al contratar Plan Enterprise\n• Migración de datos sin costo adicional\n• Soporte remoto disponible en toda América Latina\"\n→ tipoPregunta: \"ESTATICO\"\n→ isMenu: false\n\n3.3 RESULTADOS DE ESTUDIOS (regla 3.3)\n→ output: \"Hola 👋 Para ayudarte con los resultados, por favor indica el tipo de estudio:\n\n🔬 Si es un examen de LABORATORIO (sangre, orina, heces, etc.) responde 'Laboratorio'.\n📷 Si es un estudio de IMÁGENES (radiografía, ecografía, mamografía, etc.) responde 'Imágenes'.\n\nEn unos segundos te pediré los detalles necesarios.\"\n→ tipoPregunta: \"RESULTADOS\"\n→ isMenu: false\n\n4. COMANDOS DE BOTONES\n\n4.1 CONFIRMAR_CITA_PRECIOS → output: \"\" → equipo_asignado: \"Agendamiento_Directo\"\n4.2 CONFIRMAR_CITA_SERVICIOS → output: \"\" → equipo_asignado: \"Agendamiento_Directo\"\n4.3 CONFIRMAR_TARJETA → output: \"\" → equipo_asignado: \"Ventas_UNISA\"\n4.4 CANCELAR → output: \"Entiendo. ¿En qué más puedo ayudarte?\n\n1 – Tienda Virtual 💰\n2 – Agentes de IA 🤖\n3 – Agendar Demo 📅\n4 – Hosting 🖥️\n5 – Desarrollo 🔧\" → isMenu: true\n4.5 MENU_PRINCIPAL → output: \"¿Qué necesitas hoy?\n\n1. Tienda Virtual 💰\n2. Agentes de IA 🤖\n3. Agendar Demo 📅\n4. Hosting 🖥️\n5. Desarrollo 🔧\" → isMenu: true\n4.6 SALIR → output: \"Gracias por contactar a IntegraIA. 😊 Si más tarde necesitas automatizar tu negocio, estaremos aquí para ti.\" → isMenu: false\n\n5. RESPUESTA NEGATIVA (\"No\")\n→ output: \"Entiendo. ¿En qué más puedo ayudarte?\n\n1 – Tienda Virtual 💰\n2 – Agentes de IA 🤖\n3 – Agendar Demo 📅\n4 – Hosting 🖥️\n5 – Desarrollo 🔧\" → isMenu: true\n\n5.1 MEDIOS PROPIOS → output: \"\" → equipo_asignado: \"CITAS_MP\"\n5.2 SEGURO MÉDICO → output: \"\" → equipo_asignado: \"CITAS_SEGUROS\"\n5.3 RESULTADOS DE LABORATORIO → output: \"\" → equipo_asignado: \"RESULTADOS_LAB\"\n5.4 RESULTADOS DE IMÁGENES → output: \"\" → equipo_asignado: \"RESULTADOS_IMAGENES\"\n\n6. CUALQUIER OTRO MENSAJE\n→ output: \"Para ayudarte mejor, selecciona una opción:\n\n1. Tienda Virtual 💰\n2. Agentes de IA 🤖\n3. Agendar Demo 📅\n4. Hosting 🖥️\n5. Desarrollo 🔧\n\nTambién puedes escribir: horario, ubicación, promociones o resultados.\" → isMenu: true\n\n🎯 FORMATO DE SALIDA - DEBES GENERAR UN JSON VÁLIDO (NO TEXTO ADICIONAL)\n\nEjemplo REAL cuando el usuario escribe \"🕒 Horario y ubicación\":\n{\"output\": \"📍 IntegraIA — Soporte remoto en toda América Latina...\", \"tipoPregunta\": \"ESTATICO\", \"session_id\": \"584142711347\", \"conversation_id\": \"1\", \"account_id\": \"1\", \"platform\": \"whatsapp\", \"timestamp_actividad\": \"2026-05-29T12:26:36.332-04:00\"}\n\nEjemplo REAL cuando el usuario escribe \"precios\":\n{\"output\": \"💰 Con IntegraIA obtienes una tienda online profesional con Odoo CE 19... ¿Quieres que te enviemos una cotización personalizada? Responde Sí o No.\", \"tipoPregunta\": \"PRECIOS\", \"session_id\": \"584142711347\", \"conversation_id\": \"1\", \"account_id\": \"1\", \"platform\": \"whatsapp\", \"timestamp_actividad\": \"2026-05-29T12:26:36.332-04:00\"}\n\nEjemplo REAL cuando el usuario escribe \"cita\":\n{\"output\": \"Hola 👋 Vamos a agendar tu demo personalizada. 🚀...\", \"tipoPregunta\": \"CITA_DIRECTA\", \"session_id\": \"584142711347\", \"conversation_id\": \"1\", \"account_id\": \"1\", \"platform\": \"whatsapp\", \"timestamp_actividad\": \"2026-05-29T12:26:36.332-04:00\"}\n\nEjemplo REAL cuando el usuario escribe \"resultados\":\n{\"output\": \"Hola 👋 Para ayudarte con los resultados, por favor indica el tipo de estudio:\n\n🔬 Si es un examen de LABORATORIO (sangre, orina, heces, etc.) responde 'Laboratorio'.\n📷 Si es un estudio de IMÁGENES (radiografía, ecografía, mamografía, etc.) responde 'Imágenes'.\n\nEn unos segundos te pediré los detalles necesarios.\", \"tipoPregunta\": \"RESULTADOS\", \"session_id\": \"584142711347\", \"conversation_id\": \"1\", \"account_id\": \"1\", \"platform\": \"whatsapp\", \"timestamp_actividad\": \"2026-05-29T12:26:36.332-04:00\"}\n\nEjemplo REAL cuando el usuario responde \"Laboratorio\" después de resultados:\n{\"output\": \"\", \"equipo_asignado\": \"RESULTADOS_LAB\", \"session_id\": \"584142711347\", \"conversation_id\": \"1\", \"account_id\": \"1\", \"platform\": \"whatsapp\", \"timestamp_actividad\": \"2026-05-29T12:26:36.332-04:00\"}\n\nEjemplo REAL cuando el usuario responde \"Imágenes\" después de resultados:\n{\"output\": \"\", \"equipo_asignado\": \"RESULTADOS_IMAGENES\", \"session_id\": \"584142711347\", \"conversation_id\": \"1\", \"account_id\": \"1\", \"platform\": \"whatsapp\", \"timestamp_actividad\": \"2026-05-29T12:26:36.332-04:00\"}\n\n🔥 IMPORTANTE: \n- Responde SOLO con el JSON, nada más.\n- Para CITA DIRECTA (cuando escribe \"cita\") → DEBES incluir \"tipoPregunta\": \"CITA_DIRECTA\".\n- Para RESULTADOS (cuando escribe \"resultados\") → DEBES incluir \"tipoPregunta\": \"RESULTADOS\".\n- Para LABORATORIO o IMÁGENES → solo \"equipo_asignado\".\n- Los flujos de resultados están definidos en el backend y solicitan los datos: identificación del paciente y estudio solicitado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3440,
        1280
      ],
      "id": "1c16c00a-8d45-4d30-8487-b099c6931965",
      "name": "Agente_Informacion_basica"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nuevosItems = [];\n\nfor (const item of items) {\n  const nuevoItem = {\n    json: {\n      ...item.json,\n      text: item.json.output,\n      content: item.json.output\n    }\n  };\n  nuevosItems.push(nuevoItem);\n}\n\nreturn nuevosItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4512,
        1232
      ],
      "id": "236d6490-4333-4d9a-a263-fe81426bb375",
      "name": "Unificar_salida"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3a4922be-cbaa-4bb1-8614-6d8b82e4f404",
              "leftValue": "={{ $json.equipo_asignado }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4208,
        1120
      ],
      "id": "64727f24-4d55-455f-ad3d-cb616b094fee",
      "name": "Cita_con_Equipo_asignado"
    },
    {
      "parameters": {
        "content": "## Solo responde la parte estatica de preguntas",
        "height": 528,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3264,
        1136
      ],
      "typeVersion": 1,
      "id": "eced8eec-9f0d-4123-947b-e15cc364ef32",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## I'Se canaliza Instagram, faceboook, whatsapp etc"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2672,
        1952
      ],
      "typeVersion": 1,
      "id": "91b70e4f-42b6-46f9-b7e6-1b20c8c47c26",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Er44fSL1mNP20oKt",
          "mode": "list",
          "cachedResultUrl": "/workflow/Er44fSL1mNP20oKt",
          "cachedResultName": "chatbot-simple_1_subflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.text }}",
            "session_id": "={{ $json.session_id }}",
            "platform": "={{ $json.platform }}",
            "image_url": "={{ $json.image_url }}",
            "account_id": "={{ $json.account_id }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "message_type": "={{ $json.message_type }}",
            "user_name": "={{ $json.user_name }}",
            "user_number": "={{ $json.user_number }}",
            "channel": "={{ $json.channel }}",
            "file_type": "={{ $json.file_type }}",
            "content": "={{ $json.text }}",
            "phone_number": "={{ $json.user_number }}",
            "user_message": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_number",
              "displayName": "user_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "agente_desactivado",
              "displayName": "agente_desactivado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1904,
        2096
      ],
      "id": "15c2b824-a9e5-4c84-9b11-aeb4d7d07bac",
      "name": "Call 'chatbot-simple_1_subflow'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lead.integraia.lat/ai_chatbot_1_portal/inicioagendar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"conversation_id\":\"{{ $json.conversation_id }}\",\n  \"account_id\":\"{{ $json.account_id }}\",\n   \"name_flow\": \"{{$json.flow_name || 'flujo_agendamiento_default'}}\",\n   \"equipo_asignado\": \"{{$json.equipo_asignado|| \"\"}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4592,
        784
      ],
      "id": "f909050a-5b56-48a2-9a00-8d589c8bcfbc",
      "name": "paso_0_inicio_agendar",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Separar_variables_en_json - versión con recuperación extra para strings como: {}, \"equipo_asignado\":...\nconst items = $input.all();\nconst nuevosItems = [];\n\nfunction detectarSiNo(texto) {\n  if (!texto || typeof texto !== 'string') return false;\n  const patrones = [\n    /\\b(sí|si)\\s*\\/\\s*no\\b/i,\n    /\\b(aceptas|confirmas|estás de acuerdo|quieres|deseas|te gustaría)\\b.*\\?/i,\n    /^.*\\?.*(sí|si).*(no).*$/i,\n    /¿(deseas|quieres|te gustaría|estás seguro|aceptas)/i,\n    /\\b(yes|no)\\b/i,\n    /\\b(responder (sí|si|no))\\\\b/i\n  ];\n  return patrones.some(p => p.test(texto));\n}\n\nconst mapeoFlow = {\n  'Agendamiento_Directo': 'flujo_agendamiento_directo',\n  'Agendamiento_Precios': 'flujo_agendamiento_precios',\n  'Agendamiento_Servicios': 'flujo_agendamiento_servicios',\n  'Agendamiento_Otra_Consulta': 'flujo_agendamiento_otra_consulta',\n  'Ventas_UNISA': 'flujo_ventas_unisa',\n  'CITAS_MP': 'flujo_citas_medios_propios',\n  'CITAS_SEGUROS': 'flujo_citas_seguro',\n  'RESULTADOS_LAB': 'flujo_resultados_laboratorio',\n  'RESULTADOS_IMAGENES': 'flujo_resultados_imagenes'\n};\nconst flowPorDefecto = 'flujo_agendamiento_default';\n\nfunction tryParseJSON(rawStr) {\n  // Intento directo\n  try {\n    return JSON.parse(rawStr);\n  } catch (e) {\n    // preparación secundaria: limpieza\n    let attempt = rawStr.trim();\n    // eliminar prefijo \"{},\" si existe\n    attempt = attempt.replace(/^\\s*\\{\\}\\s*,\\s*/, '');\n    // eliminar comas solitarias al inicio\n    attempt = attempt.replace(/^\\s*,\\s*/, '');\n    // eliminar comas antes de cierre de objeto o array\n    attempt = attempt.replace(/,\\s*}/g, '}').replace(/,\\s*]/g, ']');\n    // si no empieza con { pero hay un } al final, añadimos '{' delante\n    if (!attempt.startsWith('{') && attempt.indexOf('}') !== -1) {\n      attempt = '{' + attempt;\n    }\n    // si no termina con } y hay una { en el string, cerramos con }\n    if (!attempt.endsWith('}') && attempt.indexOf('{') !== -1) {\n      attempt = attempt + '}';\n    }\n    // último intento de parse\n    try {\n      return JSON.parse(attempt);\n    } catch (e2) {\n      // si sigue fallando devolvemos null para indicar que no se pudo parsear\n      return null;\n    }\n  }\n}\n\nfor (const item of items) {\n  try {\n    let str = item.json.output;\n    let datosParseados = null;\n\n    // Si ya es objeto, usarlo\n    if (typeof str !== 'string' && typeof str === 'object' && str !== null) {\n      datosParseados = str;\n    } else if (typeof str === 'string') {\n      // 1) intento de parse robusto usando helper\n      // primero normalizamos backslash-u{...} como antes\n      let normalized = str.replace(/\\\\u\\{([^}]+)\\}/g, (match, inner) => {\n        const parts = inner.split(/\\\\u/);\n        let result = '';\n        for (let part of parts) {\n          if (part === '') continue;\n          result += String.fromCodePoint(parseInt(part, 16));\n        }\n        return result;\n      });\n\n      // Intento parse directo y fallback con tryParseJSON\n      datosParseados = tryParseJSON(normalized);\n\n      if (!datosParseados) {\n        // no se pudo parsear ni en el intento secundario: devolvemos item de error para debugging\n        const errorItem = {\n          json: {\n            error: 'JSON_PARSE_ERROR',\n            message: 'No se pudo extraer objeto JSON válido',\n            original: item.json.output,\n            _raw_extracted: normalized,\n            ...item.json\n          }\n        };\n        errorItem.json.flow_name = flowPorDefecto;\n        nuevosItems.push(errorItem);\n        continue; // pasar al siguiente item\n      }\n    } else {\n      // tipo inválido\n      const errorItem = {\n        json: {\n          error: 'INVALID_OUTPUT_TYPE',\n          original: item.json.output,\n          ...item.json\n        }\n      };\n      errorItem.json.flow_name = flowPorDefecto;\n      nuevosItems.push(errorItem);\n      continue;\n    }\n\n    // --- lógica original conservada ---\n    if (!datosParseados.tipoPregunta && datosParseados.output && typeof datosParseados.output === 'string') {\n      if (datosParseados.output.includes('Vamos a agendar tu cita') || \n          datosParseados.output.includes('Indíqueme si la atención será por medios propios')) {\n        datosParseados.tipoPregunta = 'CITA_DIRECTA';\n      }\n    }\n\n    if (datosParseados.output && typeof datosParseados.output === 'string') {\n      if (datosParseados.output.includes('Para enviarte tus resultados') || \n          datosParseados.output.includes('Foto de cédula') ||\n          datosParseados.output.includes('El estudio que necesitas')) {\n\n        datosParseados.tipoPregunta = 'RESULTADOS';\n\n        datosParseados.output = \"Hola 👋 Para ayudarte con los resultados, por favor indica el tipo de estudio:\\n\\n🔬 Si es un examen de LABORATORIO (sangre, orina, heces, etc.) responde 'Laboratorio'.\\n📷 Si es un estudio de IMÁGENES (radiografía, ecografía, mamografía, etc.) responde 'Imágenes'.\\n\\nEn unos segundos te pediré los detalles necesarios.\";\n\n        datosParseados.text = datosParseados.output;\n        datosParseados.content = datosParseados.output;\n      }\n    }\n\n    if (datosParseados.output && typeof datosParseados.output === 'string') {\n      const match = datosParseados.output.match(/^\\s*equipo_asignado:\\s*\"([^\"]*)\"\\s*$/);\n      if (match) {\n        datosParseados.equipo_asignado = match[1];\n      }\n    }\n\n    const resultado = {\n      ...item.json,\n      ...datosParseados,\n      output: datosParseados.output,\n      tipoPregunta: datosParseados.tipoPregunta || null\n    };\n\n    let isMenuValue = false;\n    if (datosParseados.isMenu === true) {\n      isMenuValue = true;\n    } else if (datosParseados.output && typeof datosParseados.output === 'string') {\n      const texto = datosParseados.output;\n      if (texto.includes('¡Hola! 😊 Bienvenido/a') || \n          texto.includes('Para ayudarte mejor, por favor selecciona') ||\n          texto.includes('¿Qué necesitas hoy?')) {\n        isMenuValue = true;\n      }\n    }\n    resultado.isMenu = isMenuValue;\n\n    let esPreguntaSiNo = false;\n    if (datosParseados.esPreguntaSiNo === true) {\n      esPreguntaSiNo = true;\n    } else if (datosParseados.output && typeof datosParseados.output === 'string') {\n      esPreguntaSiNo = detectarSiNo(datosParseados.output);\n    }\n    resultado.esPreguntaSiNo = esPreguntaSiNo;\n\n    const equipo = resultado.equipo_asignado;\n    resultado.flow_name = mapeoFlow[equipo] || flowPorDefecto;\n\n    nuevosItems.push({ json: resultado });\n\n  } catch (e) {\n    const errorItem = {\n      json: {\n        error: e.message,\n        original: item.json.output,\n        ...item.json\n      }\n    };\n    errorItem.json.flow_name = flowPorDefecto;\n    nuevosItems.push(errorItem);\n  }\n}\n\nreturn nuevosItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        1280
      ],
      "id": "8f477499-2b55-4522-a9cc-6f94f378dd36",
      "name": "Separar_variables_en_json"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dda4884d-04e1-451c-b3af-f5a3183f2580",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "70bff820-cfc3-4071-bcaa-4478eb7828e9",
              "name": "conversation_id",
              "value": "={{ $('Cita_con_Equipo_asignado').item.json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "d80d48b5-7d3e-4e34-bf33-cf46fa3b4e5d",
              "name": "account_id",
              "value": "={{ $('Cita_con_Equipo_asignado').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "d784b741-4e38-4288-9223-4974592d75fb",
              "name": "platform",
              "value": "={{ $('Cita_con_Equipo_asignado').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "1021f53b-9c20-4d37-abf1-1622ce5bbd86",
              "name": "text",
              "value": "={{ $json.steps[0].nombre_mostrar }}",
              "type": "string"
            },
            {
              "id": "4046b530-a78d-4676-b4ad-f2f8f2f81919",
              "name": "output",
              "value": "={{ $json.steps[0].nombre_mostrar }}",
              "type": "string"
            },
            {
              "id": "0aebd45e-44c0-4633-9710-c3af2e6d9422",
              "name": "content",
              "value": "={{ $json.steps[0].nombre_mostrar }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4784,
        784
      ],
      "id": "5f43aa71-5677-4896-bed8-3feacdd06960",
      "name": "Agendar_cita"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.integraia.lat/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "kdNeLrJ5boGw3k3nMUgKeBMi"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        1472
      ],
      "id": "eb214152-b017-4de9-a979-c4e39c554a16",
      "name": "Enviar_mensaje_de_IA1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.integraia.lat/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "kdNeLrJ5boGw3k3nMUgKeBMi"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5072,
        784
      ],
      "id": "a159effa-2bad-49d6-a403-2a2b7a17245f",
      "name": "Enviar_mensaje_de_IA2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "890f5802-1895-46b4-bfb3-c2f44596d4ce",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "e0d55966-2cdd-436b-b684-a8b11a217a2b",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "f33e3c5f-da1a-466a-b726-e12e19fdcb0b",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "53961174-87e8-4d3c-ae50-4da02dbac3c3",
              "name": "modo",
              "value": "={{ $json.modo }}",
              "type": "string"
            },
            {
              "id": "dcb665ab-5283-4902-bc0f-bff04a90180f",
              "name": "nombre_mostrar",
              "value": "={{ $json.texto_para_usuario }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        2176
      ],
      "id": "7ccb9d7e-4daa-4158-a6b5-adcc43c91ee5",
      "name": "tomar_parametros"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.integraia.lat/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "kdNeLrJ5boGw3k3nMUgKeBMi"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.nombre_mostrar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3472,
        2048
      ],
      "id": "fef886e7-6aab-4027-8f89-e7087be8d0cd",
      "name": "Enviar_mensaje_de_IA3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "menu_whatsapp_condition",
              "leftValue": "={{\n  $json.platform === 'whatsapp' && \n  ($json.isMenu === true ||\n   (typeof $json.output === 'string' && $json.output.length > 0 &&\n    ($json.output.match(/[1-5]\\.\\s*(Precios|Servicios|Agendar|Tarjeta|Otra)/i) !== null ||\n     $json.output.includes('Bienvenido/a') ||\n     $json.output.includes('selecciona una opción'))))\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3952,
        1296
      ],
      "id": "4a42c053-b3ac-4a73-ab0e-1d065644beb8",
      "name": "¿Enviar menú interactivo?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  let phone = item.json.user_number || item.json.phone_number || item.json.session_id;\n  \n  if (!phone) {\n    item.json.phone_number_formatted = null;\n    continue;\n  }\n  \n  phone = String(phone);\n  if (!phone.startsWith('+')) {\n    phone = '+' + phone;\n  }\n  item.json.phone_number_formatted = phone;\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        1440
      ],
      "id": "eef3fba7-8ff8-400c-9dda-2c09f44ddedc",
      "name": "Formatear número de teléfono"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/902885109570961/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAUQgN2MLxIBRTyZCJuo2KoseoO1lpeTkSP1jqnsFLLcFEBZBZBbHut1XVZBCI3VknTF0txxDfI7b0sM2qMutBL2KdI4rCUFMzufCufruousYfeR9WQwAT3nFCs6KPV7W3w7v1YGzpyyZAV1AME3BHl7ryl7anc7hoODi1BOdpglIFrDYTD1vj9souhp6cwZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.phone_number_formatted }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"list\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🚀 IntegraIA - Automatización con Odoo CE 19\"\n    },\n    \"body\": {\n      \"text\": \"Hola! 😊 Bienvenido/a a IntegraIA (https://integraia.lat). ¿Qué necesitas hoy?\"\n    },\n    \"footer\": {\n      \"text\": \"https://integraia.lat\"\n    },\n    \"action\": {\n      \"button\": \"📋 Ver opciones\",\n      \"sections\": [\n        {\n          \"title\": \"Nuestros Servicios\",\n          \"rows\": [\n            { \"id\": \"precios\", \"title\": \"💰 Tienda Virtual\", \"description\": \"Tienda online profesional con Odoo CE 19 → https://integraia.lat\" },\n            { \"id\": \"servicios\", \"title\": \"🤖 Agentes de IA\", \"description\": \"Chatbots WhatsApp, FB, Instagram 24/7\" },\n            { \"id\": \"agendar_cita\", \"title\": \"📅 Agendar Demo\", \"description\": \"Demo interactiva o asesoría Odoo\" }\n          ]\n        },\n        {\n          \"title\": \"Infraestructura\",\n          \"rows\": [\n            { \"id\": \"tarjeta_salud\", \"title\": \"🖥️ Hosting Dedicado\", \"description\": \"Servidor, SSL, dominio y mantenimiento → https://integraia.lat\" },\n            { \"id\": \"otra_consulta\", \"title\": \"🔧 Desarrollo\", \"description\": \"Módulos, migraciones, APIs\" }\n          ]\n        },\n        {\n          \"title\": \"Información\",\n          \"rows\": [\n            { \"id\": \"horario\", \"title\": \"🕒 Soporte\", \"description\": \"Horarios y contacto\" },\n            { \"id\": \"promociones\", \"title\": \"🎉 Promociones\", \"description\": \"Ofertas y descuentos vigentes\" },\n            { \"id\": \"resultados\", \"title\": \"🧪 Resultados\", \"description\": \"Consultar resultados de estudios\" }\n          ]\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4592,
        2000
      ],
      "id": "cf117a5d-10f7-4807-81c8-f1c465957647",
      "name": "Enviar menú interactivo a WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.integraia.lat/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "kdNeLrJ5boGw3k3nMUgKeBMi"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "🌐 Conoce más en https://integraia.lat"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4784,
        2000
      ],
      "id": "a8b1c2d3-e4f5-6789-abcd-ef0123456789",
      "name": "Enviar texto despues del menu"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4976,
        2016
      ],
      "id": "4e48c5b6-2879-4042-af63-be919857b545",
      "name": "Fin menú WhatsApp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "menu_whatsapp_condition",
              "leftValue": "={{\n  $json.platform === 'whatsapp' && ($json.esPreguntaSiNo === true || $json.tipoPregunta === \"ESTATICO\" || $json.tipoPregunta === \"CITA_DIRECTA\" || $json.tipoPregunta === \"RESULTADOS\")\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4720,
        1248
      ],
      "id": "23e12edd-1bc1-44d7-a139-8e0040c1dd11",
      "name": "¿Enviar menú interactivo?1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nuevosItems = [];\n\nfor (const item of items) {\n  const tipo = item.json.tipoPregunta;\n  const outputText = item.json.output;\n  let phone = item.json.user_number || item.json.phone_number || item.json.session_id;\n\n  if (phone && !phone.startsWith('+')) {\n    phone = '+' + phone;\n  }\n\n  let botones = [];\n\n  // PRECIOS - botones Sí/No\n  if (tipo === 'PRECIOS') {\n    botones = [\n      { type: \"reply\", reply: { id: \"CONFIRMAR_CITA_PRECIOS\", title: \"✅ Quiero cotización\" } },\n      { type: \"reply\", reply: { id: \"CANCELAR\", title: \"❌ No, gracias\" } }\n    ];\n  }\n  // SERVICIOS - botones Sí/No\n  else if (tipo === 'SERVICIOS') {\n    botones = [\n      { type: \"reply\", reply: { id: \"CONFIRMAR_CITA_SERVICIOS\", title: \"✅ Sí, quiero demo\" } },\n      { type: \"reply\", reply: { id: \"CANCELAR\", title: \"❌ No, gracias\" } }\n    ];\n  }\n  // TARJETA - botones Sí/No\n  else if (tipo === 'TARJETA') {\n    botones = [\n      { type: \"reply\", reply: { id: \"CONFIRMAR_TARJETA\", title: \"✅ Sí, contratar\" } },\n      { type: \"reply\", reply: { id: \"CANCELAR\", title: \"❌ No, gracias\" } }\n    ];\n  }\n  // CITA_DIRECTA - botones para elegir Demo o Asesoría\n  else if (tipo === 'CITA_DIRECTA') {\n    botones = [\n      { type: \"reply\", reply: { id: \"MEDIOS_PROPIOS\", title: \"💰 Demo Chatbot\" } },\n      { type: \"reply\", reply: { id: \"SEGURO_MEDICO\", title: \"🩺 Asesoría Odoo\" } }\n    ];\n  }\n  else if (tipo === 'RESULTADOS') {\n    botones = [\n      { type: \"reply\", reply: { id: \"LABORATORIO\", title: \"🔬 Laboratorio\" } },\n      { type: \"reply\", reply: { id: \"IMAGENES\", title: \"📷 Imágenes\" } }\n    ];\n  }\n  // ESTATICO - horario, promociones, resultados (botones: Menú y Salir)\n  else if (tipo === 'ESTATICO') {\n    botones = [\n      { type: \"reply\", reply: { id: \"MENU_PRINCIPAL\", title: \"🔙 Menú\" } },\n      { type: \"reply\", reply: { id: \"SALIR\", title: \"👋 Salir\" } }\n    ];\n  }\n  // ✅ NUEVO: Si es pregunta Sí/No genérica sin tipo específico\n  else if (item.json.esPreguntaSiNo === true) {\n    botones = [\n      { type: \"reply\", reply: { id: \"CONFIRMAR_SI\", title: \"✅ Sí\" } },\n      { type: \"reply\", reply: { id: \"CONFIRMAR_NO\", title: \"❌ No\" } }\n    ];\n  }\n  // Si no hay tipoPregunta, no enviamos botones (se envía como texto normal)\n  else {\n    nuevosItems.push(item);\n    continue;\n  }\n\n  // Construir el payload de WhatsApp\n  const whatsappPayload = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: phone,\n    type: \"interactive\",\n    interactive: {\n      type: \"button\",\n      body: { text: outputText },\n      action: { buttons: botones }\n    }\n  };\n\n  nuevosItems.push({\n    json: {\n      ...item.json,\n      whatsappPayload: whatsappPayload,\n      phone_number_formatted: phone\n    }\n  });\n}\n\nreturn nuevosItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4848,
        1056
      ],
      "id": "5a658fbd-5e94-4d49-a97b-47ee3219342c",
      "name": "Construir_botones_WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/902885109570961/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAUQgN2MLxIBRTyZCJuo2KoseoO1lpeTkSP1jqnsFLLcFEBZBZBbHut1XVZBCI3VknTF0txxDfI7b0sM2qMutBL2KdI4rCUFMzufCufruousYfeR9WQwAT3nFCs6KPV7W3w7v1YGzpyyZAV1AME3BHl7ryl7anc7hoODi1BOdpglIFrDYTD1vj9souhp6cwZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.whatsappPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5072,
        1056
      ],
      "id": "4f6b9b9c-bbb7-4f5b-9039-6a2287a761bf",
      "name": "Enviar menú interactivo a WhatsApp1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5536,
        1072
      ],
      "id": "2db85e6c-b90b-4328-a052-dc04b707fbc3",
      "name": "Fin menú WhatsApp1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        1680
      ],
      "typeVersion": 1,
      "id": "a02a5322-a3de-41cf-bfb6-b4a2f738e121",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        1680
      ],
      "typeVersion": 1,
      "id": "efedf729-ef58-4136-8d68-3ffa9b76e54d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        1680
      ],
      "typeVersion": 1,
      "id": "e22123b7-0700-4cc7-9704-0122e68d8083",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        1760
      ],
      "typeVersion": 1,
      "id": "ae207340-bf7b-4c4f-aba8-64383249b880",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        1760
      ],
      "typeVersion": 1,
      "id": "ea57c218-fe86-45c6-9376-75ddbcce4e1b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        1760
      ],
      "typeVersion": 1,
      "id": "9ec11a73-db71-467b-bb5e-c80f97f886df",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Procesa la data de entrada, y si es agendar cita con el primer paso chequea el telefono para buscar ya variables en bd y el suuario tipeee menos",
        "height": 480,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        1952
      ],
      "typeVersion": 1,
      "id": "f0be072b-1769-4fa7-a915-969d7f361d1c",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "output": "¡Excelente decisión! Con la HOSTING DEDICADO incluye:\n\n• Hasta Servidor optimizado, SSL, dominio\n• Copias de seguridad automáticas\n• Mantenimiento mensual\n• Sin tiempo de inactividad ni rendimiento lento\n\n¿Quieres contratar hosting para tu instancia Odoo? Responde Sí o No.",
          "session_id": "584123586929",
          "conversation_id": "17",
          "account_id": "1",
          "platform": "whatsapp",
          "timestamp_actividad": "2026-06-08T14:06:02.422-04:00",
          "tipoPregunta": null,
          "isMenu": false,
          "esPreguntaSiNo": true,
          "flow_name": "flujo_agendamiento_default",
          "text": "¡Excelente decisión! Con la HOSTING DEDICADO incluye:\n\n• Hasta Servidor optimizado, SSL, dominio\n• Copias de seguridad automáticas\n• Mantenimiento mensual\n• Sin tiempo de inactividad ni rendimiento lento\n\n¿Quieres contratar hosting para tu instancia Odoo? Responde Sí o No.",
          "content": "¡Excelente decisión! Con la HOSTING DEDICADO incluye:\n\n• Hasta Servidor optimizado, SSL, dominio\n• Copias de seguridad automáticas\n• Mantenimiento mensual\n• Sin tiempo de inactividad ni rendimiento lento\n\n¿Quieres contratar hosting para tu instancia Odoo? Responde Sí o No."
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Seteamos_variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seteamos_variables": {
      "main": [
        [
          {
            "node": "Pregunta_el_Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indentifica_canal": {
      "main": [
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar_IA_Responda?": {
      "main": [
        [
          {
            "node": "End1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Indentifica_canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pregunta_el_Cliente?": {
      "main": [
        [
          {
            "node": "Configurar_IA_Responda?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dueno_o_Bot_responde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Entrar_ChattWoot": {
      "main": [
        [
          {
            "node": "Obtener_Info_basica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_Info_basica": {
      "main": [
        [
          {
            "node": "Pregunta_el_Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta_o_agendar_cita": {
      "main": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tomar_parametros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tomar_parametros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente_Informacion_basica": {
      "main": [
        [
          {
            "node": "Separar_variables_en_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar_salida": {
      "main": [
        [
          {
            "node": "¿Enviar menú interactivo?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita_con_Equipo_asignado": {
      "main": [
        [
          {
            "node": "paso_0_inicio_agendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unificar_salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'chatbot-simple_1_subflow'": {
      "main": [
        [
          {
            "node": "Consulta_o_agendar_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar_variables_en_json": {
      "main": [
        [
          {
            "node": "¿Enviar menú interactivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paso_0_inicio_agendar": {
      "main": [
        [
          {
            "node": "Agendar_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar_cita": {
      "main": [
        [
          {
            "node": "Enviar_mensaje_de_IA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tomar_parametros": {
      "main": [
        [
          {
            "node": "Enviar_mensaje_de_IA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar menú interactivo?": {
      "main": [
        [
          {
            "node": "Formatear número de teléfono",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita_con_Equipo_asignado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear número de teléfono": {
      "main": [
        [
          {
            "node": "Enviar menú interactivo a WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar menú interactivo a WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar texto despues del menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto despues del menu": {
      "main": [
        [
          {
            "node": "Fin menú WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Construir_botones_WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar menú interactivo?1": {
      "main": [
        [
          {
            "node": "Construir_botones_WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar_mensaje_de_IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir_botones_WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar menú interactivo a WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar menú interactivo a WhatsApp1": {
      "main": [
        [
          {
            "node": "Fin menú WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_mensaje_de_IA2": {
      "main": [
        [
          {
            "node": "paso_0_inicio_agendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "831d2b0d-564e-4aa2-b8a6-79bf0a4bff6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac8b8e9b824b3711008329bf41bf68736c3261debaa6dcb0eaceede9a0a7edac"
  },
  "id": "rawHArcQkOt5uVmz",
  "tags": []
} 