shared/extra/19.0/ai_chatbot_1_portal/n8n/chatbot_create_lead_0.json
{
  "name": "chatbot_create_lead_0_con_menu_whatsapp",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4480,
        -464
      ],
      "id": "a1fae244-1ce4-4b7e-8437-88a234c77a52",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -7472,
        352
      ],
      "id": "fbf67dd5-0f29-4ab4-a830-6cd14f6eeb63",
      "name": "When chat message received",
      "webhookId": "d7373d29-7364-41f7-a73f-bd24b72daeea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96996d45-ddf6-4f34-850c-6135282de201",
              "name": "text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "886653c3-a819-4881-a860-62b44509d731",
              "name": "session_id",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "ee045dc3-b0e6-4366-b179-2bb78781425b",
              "name": "account_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "4d37a5ee-0b5e-40e0-a5ca-4dc372f0a1e6",
              "name": "conversation_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "3eb0a246-8cb9-477b-a0df-460f3c6b3b8a",
              "name": "message_type",
              "value": "incoming",
              "type": "string"
            },
            {
              "id": "af85fc32-b8b9-43a3-a666-403ad84a8e5f",
              "name": "user_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "49e39027-d5f1-4abb-9e53-22545e9b39c5",
              "name": "user_number",
              "value": "",
              "type": "string"
            },
            {
              "id": "d215ec30-76a4-4011-a990-a484c225565b",
              "name": "platform",
              "value": "Channel::Whatsapp",
              "type": "string"
            },
            {
              "id": "fbce67e5-7649-4e4f-86da-7022b5a7a047",
              "name": "channel",
              "value": "Channel::Whatsapp",
              "type": "string"
            },
            {
              "id": "cffc4318-41d4-470e-9204-0487f399268d",
              "name": "content",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "80e133a1-a3f2-456a-b8b9-c777b7febaf9",
              "name": "file_type",
              "value": "",
              "type": "string"
            },
            {
              "id": "d62b3d9d-284f-4bdf-a2c3-b97776ba817d",
              "name": "phone_number",
              "value": "",
              "type": "string"
            },
            {
              "id": "f5e36c51-bfc3-47c2-98c4-309b259890f5",
              "name": "user_message",
              "value": "",
              "type": "string"
            },
            {
              "id": "32c13a58-cbaf-45d2-ae7d-faa18aa1f017",
              "name": "image_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "d2dcdf4c-9ebb-4ac9-8183-fab3bafbce84",
              "name": "agente_desactivado",
              "value": "on",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7104,
        272
      ],
      "id": "c0ecac64-39c2-45f9-8a95-e26530e7ea1c",
      "name": "Seteamos_variables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::Whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4313ad77-8015-436a-a40d-3ef7cab78263"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37f80664-6420-4c2b-b965-b65ec4656310",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd226af3-e973-4fa2-adee-7b4988db3d90",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6bb7392d-9fa9-4da8-86ee-94ec3e7385e1",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::FacebookPage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c6773713-6da3-44c1-8df0-e8957d72913e",
                    "leftValue": {},
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error_no_existe_channel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -6176,
        256
      ],
      "id": "582c3134-3025-45e0-ab20-e5ae9b35262f",
      "name": "Indentifica_canal"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -6848,
        624
      ],
      "id": "b02d0062-2429-4280-a891-28e2e141f143",
      "name": "Dueno_o_Bot_responde"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $json.agente_desactivado }}",
                    "rightValue": "off",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respuesta_humana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1239d7b6-e41f-4d3b-a7b7-c6d691a43e69",
                    "leftValue": "={{ $json.agente_desactivado }}",
                    "rightValue": "on",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Respuesta IA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -6560,
        272
      ],
      "id": "ecaa8ed3-f40c-499f-bab0-3a7e2c714c6a",
      "name": "Configurar_IA_Responda?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b266895-9c0c-4a53-804d-2213bca3a1a0",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -6800,
        288
      ],
      "id": "24c11fac-b0cf-4782-a479-450f3d2b149f",
      "name": "Pregunta_el_Cliente?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -6256,
        0
      ],
      "id": "fd1c88db-60aa-4948-a32d-3dff30177e2d",
      "name": "End1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4016,
        -16
      ],
      "id": "347e0030-df00-4367-af8e-382c08fe7215",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot_integraia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7328,
        -368
      ],
      "id": "73944049-cdb2-4d61-97cb-8fe68885d4b1",
      "name": "Entrar_ChattWoot",
      "webhookId": "f2f3dab4-9ee7-4ad7-9fe8-96f79468b1f4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "=text",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "session_id",
              "value": "={{ $json.body.conversation.contact_inbox.source_id }}",
              "type": "string"
            },
            {
              "id": "9cbd2d29-4e32-46fd-bbea-88317ec7681d",
              "name": "account_id",
              "value": "={{ $json.body.conversation.messages[0].account_id }}",
              "type": "string"
            },
            {
              "id": "ddcd14fb-bfd1-4f23-a0e0-7d0fa54e8719",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "9052a8a2-5a39-4b6f-a44f-728e2e7c2c41",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "c76e6bbf-22cf-4dd8-ae67-49c5801c5be1",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "b16fbd53-b6a3-4e0b-ac12-01912379a2fc",
              "name": "user_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "327aa426-279e-4d47-b4a9-2910e9b62282",
              "name": "platform",
              "value": "={{ $json.body.conversation.channel.includes('Whatsapp') ? 'whatsapp' : ($json.body.conversation.channel.includes('Facebook') ? 'facebook' : ($json.body.conversation.channel.includes('Instagram') ? 'instagram' : ($json.body.conversation.channel.includes('Telegram') ? 'telegram' : 'otro'))) }}",
              "type": "string"
            },
            {
              "id": "f921da3f-2311-4646-a2c9-152401811c3f",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "12bb3da8-0d23-45ec-8ed8-a962d512d0fb",
              "name": "channel",
              "value": "={{ $json.body.conversation.channel }}",
              "type": "string"
            },
            {
              "id": "e70d5c0a-a243-4625-af3e-c40ca295cdef",
              "name": "content",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "8a12bb4d-d77a-466b-ac20-851d770c34c0",
              "name": "file_type",
              "value": "={{ $json.body.conversation.messages[0].attachments?.[0]?.file_type || null }}",
              "type": "string"
            },
            {
              "id": "664d94bf-9a93-472e-8d11-887f1f82af70",
              "name": "phone_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "31829d53-6dc4-4a0a-829f-6a203803d8ee",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "1ca7bf91-1d72-4995-a578-12c0aa68da8e",
              "name": "image_url",
              "value": "={{ $json.body.attachments && $json.body.attachments[0] && $json.body.attachments[0].data_url ? $json.body.attachments[0].data_url : '' }}",
              "type": "string"
            },
            {
              "id": "9741fd66-6a23-47b2-a5b1-0acb8401af6b",
              "name": "agente_desactivado",
              "value": "={{ $json.body.conversation.labels[0]=='agente_desactivado'?'off':'on' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7056,
        -128
      ],
      "id": "1b0f43b5-be8b-4cc2-8a93-90b15dce8f9c",
      "name": "Obtener_Info_basica"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13990ce7-e3b4-4056-9e7d-4eee97e1f577",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "MENU_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "MENU_PRINCIPAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "acc9bba6-bb76-43a8-8145-33b4a28ccfb7",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "FLUJO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FLUJO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4b89e53-5df8-4322-8bc7-9dacf87edc1e",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "COMPLETADO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETADO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4832,
        528
      ],
      "id": "8fc78d97-5e93-4333-8d95-3cb0e7deb0ec",
      "name": "Consulta_o_agendar_cita"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4128,
        -16
      ],
      "id": "e2acbfa4-417d-4fc1-ba7e-fd344f594c91",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wzfIhmJQeemUpcNG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n\n=Mensaje del usuario: {{ $json.text }}\nURL de imagen: {{ $json.image_url }}\nSession ID: {{ $json.session_id }}\nConversation ID: {{ $json.conversation_id }}\nAccount ID: {{ $json.account_id }}\nPlatform: {{ $json.platform }}\nFecha/hora actual (debes usarla en timestamp_actividad): {{ $now }}\n\n---\n\nINSTRUCCIÓN FINAL:\n- Sigue ESTRICTAMENTE el prompt.\n- En el paso ESPERANDO_FOTO_CEDULA: PRIMERO verifica image_url. Si hay imagen (no vacía y empieza con http), IGNORA el texto y procesa la imagen.\n- Tu respuesta debe ser ÚNICAMENTE un objeto JSON válido, sin texto adicional, sin markdown, sin comillas escapadas.\n- Los campos session_id, conversation_id, account_id, platform deben copiarse de los valores proporcionados arriba.\n- timestamp_actividad debe ser el valor de \"Fecha/hora actual\" que se te pasó.{{ $json.text }}",
        "options": {
          "systemMessage": "=TÚ ERES: BOT UNISA, asistente virtual oficial de la Unidad de Salud Integral (UNISA), Venezuela.\n\n⚠️ REGLAS FUNDAMENTALES (LEER ANTES DE RESPONDER)\n\nNO CONTINÚAS CONVERSACIONES – Ignora todo el “estado actual” y el historial. El único contexto válido es el mensaje que acaba de escribir el usuario.\n\nLAS PALABRAS CLAVE DEL MENÚ PRINCIPAL SIEMPRE TIENEN PRIORIDAD MÁXIMA – Si el mensaje contiene “1”, “precios”, “2”, “servicios”, “3”, “cita”, “4”, “tarjeta”, “5”, “otra”, ejecuta la regla correspondiente de la sección 2.\n\nEL “SÍ” SOLO SE ACTIVA SI EL MENSAJE ES EXACTAMENTE “Sí”, “SI” O “sí”.\n\nSI EL MENSAJE NO COINCIDE CON NINGUNA REGLA, SIEMPRE MUESTRAS EL MENÚ PRINCIPAL (regla 6).\n\n📋 CONTEXTO ACTUAL (solo informativo)\n\nSession ID: {{ $json.session_id }}\nEstado actual: {{ $json.estado_actual.modo }} / {{ $json.estado_actual.paso }}\nPlataforma: {{ $json.platform }}\nFecha actual: {{ $now }}\nMensaje del usuario: {{ $json.text }}\n\n🧠 LÓGICA DE DECISIÓN (ORDEN DE PRIORIDAD: 1 → 2 → 3 → 4 → 5 → 6)\n\n1. SALUDO INICIAL\nSI el mensaje es “hola”, “buenos días”, “buenas tardes”, “buenas noches”, “hi”, “hello” o saludos similares Y NO contiene palabras clave del menú:\n→ output: ¡Hola! 😊 Bienvenido/a a UNISA, tu Unidad de Salud Integral.\n\n¿Qué necesitas hoy? Te ayudo con:\n\n1. Precios 💲 - Conoce nuestros precios básicos 2026\n2. Servicios 🩺 - Descubre todos nuestros servicios médicos\n3. Agendar cita 📅 - Para consulta, laboratorio o estudios\n4. Tarjeta de la Salud 💙 - Información sobre la tarjeta o CREDIUNISA\n5. Otra consulta ❓ - Cualquier otra pregunta\n\nPor favor, escribe el número o palabra clave de lo que necesitas.\n→ isMenu: true\n\n2. OPCIONES DEL MENÚ PRINCIPAL (NUNCA equipo_asignado excepto 2.3 y 2.5)\n\n2.1 PRECIOS (si usuario dice “1”, “precios”, “precio”, “costos”)\n→ output: ¡Con gusto! Estos son nuestros precios básicos 2026:\n\n• Consulta médica general → 25 USD\n• Rayos X → 10 USD\n• Mamografía sin implantes → 20 USD\n• Mamografía con implantes → 30 USD\n\n¿Deseas agendar una cita con estos precios?\n\nResponde \"Sí\" para agendar o \"No\" para volver al menú principal.\n\n2.2 SERVICIOS (si usuario dice “2”, “servicios”, “qué ofrecen”, “qué servicios”, “especialidades”)\n→ output: ¡Claro! En UNISA ofrecemos:\n\n• Consultas médicas generales y especialidades\n• Laboratorio clínico\n• Rayos X digital\n• Ecografías\n• Mamografía\n• Densitometría ósea\n• Electrocardiograma y ecocardiograma\n• Espirometría\n• Holter de presión y ritmo\n• Atención Primaria Médica 24/7\n\n¿Te gustaría agendar una cita en alguna de estas especialidades?\n\nResponde \"Sí\" para agendar o \"No\" para volver al menú principal.\n\n2.3 CITA DIRECTA (si usuario dice “3”, “cita”, “agendar”, “consultorio”, “laboratorio”, “reservar”, “turno”)\n→ output: equipo_asignado: \"Agendamiento_Directo\"\n\n2.4 TARJETA DE LA SALUD (si usuario dice “4”, “tarjeta”, “credunisa”, “descuentos”, “tarjeta de la salud”)\n→ output: ¡Excelente decisión! Con la TARJETA DE LA SALUD obtienes:\n\n• Hasta 30% de descuento\n• 1 consulta gratuita al año\n• Vigencia de 12 meses\n• Costo total: 80 USD → pagas 20 USD al afiliarte + 6 cuotas de 10 USD\n\n¿Deseas que uno de nuestros asesores se comunique contigo para más información?\n\nResponde \"Sí\" para contactarte o \"No\" para volver al menú principal.\n\n2.5 OTRA CONSULTA (si usuario dice “5”, “otra”, “otra consulta”, “otros”, “diferente”)\n→ output: equipo_asignado: \"Agendamiento_Otra_Consulta\"\n\n3. RESPUESTA NEGATIVA (“No”)\nSOLO SI el mensaje del usuario es EXACTAMENTE “No”, “NO”, “no” (no dentro de una frase):\n→ output: Entiendo. ¿En qué más puedo ayudarte?\n\n1 – Precios 💲\n2 – Servicios 🩺\n3 – Agendar cita 📅\n4 – Tarjeta de la Salud 💙\n5 – Otra consulta ❓\n\nEscribe el número o palabra clave de lo que necesites.\n→ isMenu: true   // <--- MODIFICADO: ahora también envía menú interactivo\n\n4. RESPUESTAS AFIRMATIVAS (“Sí”)\nSOLO SI el usuario dice exactamente “Sí”, “SI”, “sí”, “si” Y el último mensaje del bot fue una pregunta de agendamiento (Precios, Servicios o Tarjeta). Entonces:\n→ output: equipo_asignado: \"Agendamiento_Precios\" (o Servicios o Tarjeta según contexto)\n\n5. SOLICITUD DE HABLAR CON PERSONA\nSI el usuario expresa deseo de hablar con humano, agente, operador, etc.:\n→ output: Entiendo que deseas hablar con una persona. 😊 Para poder contactar a un asesor humano, es necesario que solicites una cita. Por favor, responde con la palabra **“cita”** o selecciona la opción **3** del menú (Agendar cita 📅) para programar una consulta o estudio. Un miembro de nuestro equipo se pondrá en contacto contigo. ¿Podrías indicar “cita” para continuar?\n\n6. CUALQUIER OTRO MENSAJE (no coincide con ninguna regla anterior)\n→ output: Para ayudarte mejor, por favor selecciona una de estas opciones:\n\n1. Precios 💲 - Conoce nuestros precios básicos 2026\n2. Servicios 🩺 - Descubre todos nuestros servicios médicos\n3. Agendar cita 📅 - Para consulta, laboratorio o estudios\n4. Tarjeta de la Salud 💙 - Información sobre la tarjeta o CREDIUNISA\n5. Otra consulta ❓ - Cualquier otra pregunta\n\nEscribe el número o palabra clave de lo que necesitas.\n→ isMenu: true\n\n🔒 RECORDATORIO FINAL\n\n- NUNCA devuelvas equipo_asignado excepto en 2.3, 2.5 y regla 4.\n- SIEMPRE respeta la prioridad: las palabras clave del menú (1-5) ganan sobre cualquier otra cosa.\n- El campo isMenu DEBE ser true en las reglas 1, 3 y 6. En las demás reglas NO incluyas isMenu (o pon false explícitamente).\n\n🎯 FORMATO DE SALIDA (OBLIGATORIO) – EJEMPLOS INCLUIDOS\n\nEjemplo para regla 1 (saludo) o regla 3 (negativa) o regla 6 (otro mensaje):\n{\n  \"output\": \"El texto completo según la regla aplicada\",\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"conversation_id\": \"{{ $json.conversation_id }}\",\n  \"account_id\": \"{{ $json.account_id }}\",\n  \"platform\": \"{{ $json.platform }}\",\n  \"timestamp_actividad\": \"{{ $now }}\",\n  \"isMenu\": true\n}\n\nEjemplo para regla 2.1 (precios):\n{\n  \"output\": \"¡Con gusto! Estos son nuestros precios básicos 2026...\",\n  \"session_id\": \"...\",\n  \"conversation_id\": \"...\",\n  \"account_id\": \"...\",\n  \"platform\": \"...\",\n  \"timestamp_actividad\": \"...\"\n}\n(Sin isMenu o isMenu false)\n\nImportante:\n- El campo output debe contener EXACTAMENTE el texto de la regla.\n- No incluyas texto adicional fuera del JSON.\n- En las reglas 1, 3 y 6 SIEMPRE incluye \"isMenu\": true."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4112,
        -272
      ],
      "id": "d1448f24-e34a-4380-9327-8fe7823fbeb2",
      "name": "Agente_Informacion_basica"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nuevosItems = [];\n\nfor (const item of items) {\n  // Creamos un nuevo objeto con todas las propiedades originales\n  // y añadimos el campo 'text' con el valor de 'output'\n  const nuevoItem = {\n    json: {\n      ...item.json,\n      text: item.json.output,\n      content: item.json.output\n    }\n  };\n  nuevosItems.push(nuevoItem);\n}\n\nreturn nuevosItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3040,
        -320
      ],
      "id": "d73cfb40-5164-40f5-82f1-c6c0c48d890e",
      "name": "Unificar_salida"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "464cd723-d01a-47da-bf96-baf16e9b790e",
              "leftValue": "={{ $json.equipo_asignado }}",
              "rightValue": "=Agendamiento",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3344,
        -432
      ],
      "id": "a9b08911-3d56-4d56-bb6c-eb10c557b871",
      "name": "Cita_con_Equipo_asignado"
    },
    {
      "parameters": {
        "content": "## Solo responde la parte estatica de preguntas",
        "height": 528,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4288,
        -416
      ],
      "typeVersion": 1,
      "id": "09e10214-fe8d-4fa8-9996-47b595cb4238",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Procesa la data de entrada, y si es agendar cita con el primer paso chequea el telefono para buscar ya variables en bd y el suuario tipeee menos",
        "height": 480,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5840,
        400
      ],
      "typeVersion": 1,
      "id": "4b3c8d2a-21a9-4019-b357-694107893a13",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## I'Se canaliza Instagram, faceboook, whatsapp etc"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4880,
        400
      ],
      "typeVersion": 1,
      "id": "9a403b07-8d4b-46ff-8abc-98edddfda5ad",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zg-VijB4F9ZE4KyUiChne",
          "mode": "list",
          "cachedResultUrl": "/workflow/zg-VijB4F9ZE4KyUiChne",
          "cachedResultName": "chatbot-simple_1_subflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.text }}",
            "session_id": "={{ $json.session_id }}",
            "platform": "={{ $json.platform }}",
            "image_url": "={{ $json.image_url }}",
            "account_id": "={{ $json.account_id }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "message_type": "={{ $json.message_type }}",
            "user_name": "={{ $json.user_name }}",
            "user_number": "={{ $json.user_number }}",
            "channel": "={{ $json.channel }}",
            "file_type": "={{ $json.file_type }}",
            "content": "={{ $json.text }}",
            "phone_number": "={{ $json.user_number }}",
            "user_message": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_number",
              "displayName": "user_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "agente_desactivado",
              "displayName": "agente_desactivado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5648,
        544
      ],
      "id": "06da8249-48bb-48c2-adf2-b74819fa8aa5",
      "name": "Call 'chatbot-simple_1_subflow'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integraiadev.unisasalud.com/ai_chatbot_1_portal/inicioagendar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"conversation_id\":\"{{ $json.conversation_id }}\",\n  \"account_id\":\"{{ $json.account_id }}\",\n   \"name_flow\": \"flujoprueba\",\n   \"equipo_asignado\": \"{{$json.equipo_asignado|| \"\"}}\"\n \n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3184,
        -768
      ],
      "id": "929985b4-b937-4998-acb2-3e171f617844",
      "name": "paso_0_inicio_agendar",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nuevosItems = [];\n\n// Función auxiliar para detectar si un texto pide una respuesta de sí o no\nfunction detectarSiNo(texto) {\n  if (!texto || typeof texto !== 'string') return false;\n  const patrones = [\n    /\\b(sí|si)\\s*\\/\\s*no\\b/i,\n    /\\b(aceptas|confirmas|estás de acuerdo|quieres|deseas|te gustaría)\\b.*\\?/i,\n    /^.*\\?.*(sí|si).*(no).*$/i,\n    /¿(deseas|quieres|te gustaría|estás seguro|aceptas)/i,\n    /\\b(yes|no)\\b/i,\n    /\\b(responder (sí|si|no))\\b/i\n  ];\n  return patrones.some(p => p.test(texto));\n}\n\nfor (const item of items) {\n  try {\n    // El campo 'output' contiene un string JSON (puede venir escapado)\n    let str = item.json.output;\n\n    // Limpiar posibles escapes Unicode (ej: \\u{1F6E0\\uFE0F})\n    str = str.replace(/\\\\u\\{([^}]+)\\}/g, (match, inner) => {\n      const parts = inner.split(/\\\\u/);\n      let result = '';\n      for (let part of parts) {\n        if (part === '') continue;\n        result += String.fromCodePoint(parseInt(part, 16));\n      }\n      return result;\n    });\n\n    // Parsear el JSON principal (viene de la IA)\n    const datosParseados = JSON.parse(str);\n\n    // Verificar si el output contiene equipo_asignado: \"Algo\"\n    if (datosParseados.output && typeof datosParseados.output === 'string') {\n      const match = datosParseados.output.match(/^\\s*equipo_asignado:\\s*\"([^\"]*)\"\\s*$/);\n      if (match) {\n        datosParseados.equipo_asignado = match[1];\n      }\n    }\n\n    // Combinar los campos originales (item.json) con los datos parseados\n    const resultado = {\n      ...item.json,           // conserva user_number, platform, conversation_id, etc.\n      ...datosParseados,      // añade output, isMenu, session_id, etc.\n      output: datosParseados.output  // asegurar que output sea el string correcto\n    };\n\n    // 🔥 Detección de isMenu (con respaldo por contenido si la IA falla)\n    let isMenuValue = false;\n    if (datosParseados.isMenu === true) {\n      isMenuValue = true;\n    } else if (datosParseados.output && typeof datosParseados.output === 'string') {\n      const texto = datosParseados.output;\n      if (texto.includes('¡Hola! 😊 Bienvenido/a') || \n          texto.includes('Para ayudarte mejor, por favor selecciona')) {\n        isMenuValue = true;\n      }\n    }\n    resultado.isMenu = isMenuValue;\n\n    // 🔥 Detección de pregunta de sí/no (con prioridad al flag explícito)\n    let esPreguntaSiNo = false;\n    if (datosParseados.esPreguntaSiNo === true) {\n      esPreguntaSiNo = true;\n    } else if (datosParseados.output && typeof datosParseados.output === 'string') {\n      esPreguntaSiNo = detectarSiNo(datosParseados.output);\n    }\n    resultado.esPreguntaSiNo = esPreguntaSiNo;\n\n    nuevosItems.push({ json: resultado });\n\n  } catch (e) {\n    // En caso de error, conservar los datos originales\n    nuevosItems.push({\n      json: {\n        error: e.message,\n        original: item.json.output,\n        ...item.json\n      }\n    });\n  }\n}\n\nreturn nuevosItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3776,
        -272
      ],
      "id": "606abee9-ae89-4f84-98b0-ebcb5f03d1a7",
      "name": "Separar_variables_en_json"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dda4884d-04e1-451c-b3af-f5a3183f2580",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "70bff820-cfc3-4071-bcaa-4478eb7828e9",
              "name": "conversation_id",
              "value": "={{ $('Cita_con_Equipo_asignado').item.json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "d80d48b5-7d3e-4e34-bf33-cf46fa3b4e5d",
              "name": "account_id",
              "value": "={{ $('Cita_con_Equipo_asignado').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "d784b741-4e38-4288-9223-4974592d75fb",
              "name": "platform",
              "value": "={{ $('Cita_con_Equipo_asignado').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "1021f53b-9c20-4d37-abf1-1622ce5bbd86",
              "name": "text",
              "value": "={{ $json.steps[0].nombre_mostrar }}",
              "type": "string"
            },
            {
              "id": "4046b530-a78d-4676-b4ad-f2f8f2f81919",
              "name": "output",
              "value": "={{ $json.steps[0].nombre_mostrar }}",
              "type": "string"
            },
            {
              "id": "0aebd45e-44c0-4633-9710-c3af2e6d9422",
              "name": "content",
              "value": "={{ $json.steps[0].nombre_mostrar }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2992,
        -768
      ],
      "id": "84c88d2b-57d9-4710-b0f5-7efc048f9d03",
      "name": "Agendar_cita"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.unisasalud.com/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "bKYDrpmQjhS8yn8pFKEsMkCw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2512,
        -80
      ],
      "id": "a05d2a2e-5951-4515-979e-a84f8d72508d",
      "name": "Enviar_mensaje_de_IA1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.unisasalud.com/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "bKYDrpmQjhS8yn8pFKEsMkCw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2704,
        -768
      ],
      "id": "97c4b8db-9a84-4d8e-a0e3-f5a522c796b5",
      "name": "Enviar_mensaje_de_IA2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "890f5802-1895-46b4-bfb3-c2f44596d4ce",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "e0d55966-2cdd-436b-b684-a8b11a217a2b",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "f33e3c5f-da1a-466a-b726-e12e19fdcb0b",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "53961174-87e8-4d3c-ae50-4da02dbac3c3",
              "name": "modo",
              "value": "={{ $json.modo }}",
              "type": "string"
            },
            {
              "id": "dcb665ab-5283-4902-bc0f-bff04a90180f",
              "name": "nombre_mostrar",
              "value": "={{ $json.texto_para_usuario }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4384,
        624
      ],
      "id": "07e264db-0bc6-45a9-9560-f82f5288c9e9",
      "name": "tomar_parametros"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.unisasalud.com/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "bKYDrpmQjhS8yn8pFKEsMkCw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.nombre_mostrar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4080,
        496
      ],
      "id": "10c500ed-dae3-451f-aa93-8782f1e9e57e",
      "name": "Enviar_mensaje_de_IA3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "menu_whatsapp_condition",
              "leftValue": "={{\n  $json.platform === 'whatsapp' && \n  ($json.isMenu === true ||\n   ($json.output && \n    ($json.output.includes('¡Hola! 😊 Bienvenido/a') ||\n     $json.output.includes('Para ayudarte mejor, por favor selecciona'))))\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3600,
        -256
      ],
      "id": "a5c5cbc3-a960-435a-8e90-5a4d4f654147",
      "name": "¿Enviar menú interactivo?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  // Intentar obtener el número de varias fuentes posibles\n  let phone = item.json.user_number || item.json.phone_number || item.json.session_id;\n  \n  if (!phone) {\n    // Si no hay número, no se puede enviar el mensaje\n    item.json.phone_number_formatted = null;\n    continue;\n  }\n  \n  // Asegurar que sea string y tenga prefijo '+'\n  phone = String(phone);\n  if (!phone.startsWith('+')) {\n    phone = '+' + phone;\n  }\n  item.json.phone_number_formatted = phone;\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        -112
      ],
      "id": "275f4516-8ded-48c1-a5aa-eb55de3a1ffd",
      "name": "Formatear número de teléfono"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/1136369756228609/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAANzQtUGy6UBRlUI4ZBmMYkU05xaWXsIXT5KVVyOMXQHzXDmZAZAufwzijvSJRWAa2Ryx2ZCdHrHLiQwbEZCAZCieFH0MXiMZBR9TrkdLZCVLWVNdC3p1JoGd7wIjtVzimGmUWcFKJP7tc6FBBDnDnHP2UQmSOagYAClwhhaXEbnHxgFMQ8JagYgrTsGklOVeAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.phone_number_formatted }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"list\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🏥 UNISA - Unidad de Salud Integral\"\n    },\n    \"body\": {\n      \"text\": \"Hola! 😊 Bienvenido/a. ¿Qué necesitas hoy? Selecciona una opción:\"\n    },\n    \"footer\": {\n      \"text\": \"Elige una opción del menú\"\n    },\n    \"action\": {\n      \"button\": \"📋 Ver opciones\",\n      \"sections\": [\n        {\n          \"title\": \"Servicios e información\",\n          \"rows\": [\n            { \"id\": \"precios\", \"title\": \"💰 Precios\", \"description\": \"Conoce nuestros precios básicos 2026\" },\n            { \"id\": \"servicios\", \"title\": \"🩺 Servicios médicos\", \"description\": \"Descubre todos nuestros servicios\" },\n            { \"id\": \"agendar_cita\", \"title\": \"📅 Agendar cita\", \"description\": \"Consulta, laboratorio o estudios\" }\n          ]\n        },\n        {\n          \"title\": \"Otros trámites\",\n          \"rows\": [\n            { \"id\": \"tarjeta_salud\", \"title\": \"💙 Tarjeta de la Salud\", \"description\": \"Información sobre la tarjeta o CREDIUNISA\" },\n            { \"id\": \"otra_consulta\", \"title\": \"❓ Otra consulta\", \"description\": \"Cualquier otra pregunta\" }\n          ]\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2960,
        448
      ],
      "id": "5fd7ccbc-6aba-406f-bab6-ed5847d73dd2",
      "name": "Enviar menú interactivo a WhatsApp"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2576,
        464
      ],
      "id": "bf49bcd9-c9b8-4c50-b44b-240a57f8fdfe",
      "name": "Fin menú WhatsApp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "menu_whatsapp_condition",
              "leftValue": "={{\n  $json.platform === 'whatsapp' && \n  ($json.esPreguntaSiNo=== true)\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2832,
        -304
      ],
      "id": "b7cc6937-8c39-4297-ae37-10ad549ab41c",
      "name": "¿Enviar menú interactivo?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/1136369756228609/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAANzQtUGy6UBRlUI4ZBmMYkU05xaWXsIXT5KVVyOMXQHzXDmZAZAufwzijvSJRWAa2Ryx2ZCdHrHLiQwbEZCAZCieFH0MXiMZBR9TrkdLZCVLWVNdC3p1JoGd7wIjtVzimGmUWcFKJP7tc6FBBDnDnHP2UQmSOagYAClwhhaXEbnHxgFMQ8JagYgrTsGklOVeAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.phone_number_formatted }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $json.output }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"option_yes\",\n            \"title\": \"Sí\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"option_no\",\n            \"title\": \"No\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2480,
        -496
      ],
      "id": "aeec7a73-55e7-4dbe-8cf9-a10d1220800b",
      "name": "Enviar menú interactivo a WhatsApp1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nuevosItems = [];\n\n// Función para escapar un texto para que sea válido dentro de un JSON\n// (convierte saltos de línea a \\n, comillas dobles a \\\", backslashes a \\\\, etc.)\nfunction escaparParaWhatsApp(texto) {\n  if (typeof texto !== 'string') return texto;\n  // Usamos JSON.stringify para escapar completamente la cadena,\n  // luego eliminamos las comillas dobles que añade al principio y al final.\n  return JSON.stringify(texto).slice(1, -1);\n}\n\nfor (const item of items) {\n  // Copiar todo el objeto original\n  const nuevoItem = { ...item.json };\n\n  // Obtener el número de teléfono (igual que tu script)\n  let phone = nuevoItem.user_number || nuevoItem.phone_number || nuevoItem.session_id;\n  if (phone) {\n    phone = String(phone);\n    if (!phone.startsWith('+')) {\n      phone = '+' + phone;\n    }\n    nuevoItem.phone_number_formatted = phone;\n  } else {\n    nuevoItem.phone_number_formatted = null;\n  }\n\n  // Escapar los campos que contienen texto para que WhatsApp los acepte\n  if (nuevoItem.output) {\n    nuevoItem.output = escaparParaWhatsApp(nuevoItem.output);\n  }\n  if (nuevoItem.text) {\n    nuevoItem.text = escaparParaWhatsApp(nuevoItem.text);\n  }\n  if (nuevoItem.content) {\n    nuevoItem.content = escaparParaWhatsApp(nuevoItem.content);\n  }\n\n  nuevosItems.push({ json: nuevoItem });\n}\n\nreturn nuevosItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        -496
      ],
      "id": "ea632964-1e1b-424d-91fa-0072f0478b13",
      "name": "Formatear número de teléfono1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4864,
        128
      ],
      "typeVersion": 1,
      "id": "72c57707-8334-46ee-aa4f-d6b8fd40d881",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4864,
        128
      ],
      "typeVersion": 1,
      "id": "0a9994d2-4176-4f87-9b0c-1cdea955873a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4864,
        128
      ],
      "typeVersion": 1,
      "id": "e6bc7fe7-bd32-4345-b484-72cd8ab5d6d6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2240,
        -480
      ],
      "id": "5278d355-c7b1-4f5e-b752-a6c1b4fa3faa",
      "name": "Fin menú WhatsApp1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4784,
        208
      ],
      "typeVersion": 1,
      "id": "38c971a7-a2d0-47f6-b4a2-174476785bca",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4784,
        208
      ],
      "typeVersion": 1,
      "id": "077ecb67-9bc1-4e91-9128-be06e3baa130",
      "name": "Sticky Note7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4784,
        208
      ],
      "typeVersion": 1,
      "id": "721afd67-5b2a-4048-802b-f1d728ed427d",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "success": true,
          "finalizado": false,
          "modo": "MENU_PRINCIPAL",
          "texto_para_usuario": "No hay un flujo activo. Puedes comenzar un nuevo proceso.",
          "text": "💙 Tarjeta de la Salud",
          "session_id": "584142711347",
          "conversation_id": "1",
          "platform": "whatsapp",
          "account_id": "1"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Seteamos_variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seteamos_variables": {
      "main": [
        [
          {
            "node": "Pregunta_el_Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indentifica_canal": {
      "main": [
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar_IA_Responda?": {
      "main": [
        [
          {
            "node": "End1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Indentifica_canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pregunta_el_Cliente?": {
      "main": [
        [
          {
            "node": "Configurar_IA_Responda?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dueno_o_Bot_responde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Entrar_ChattWoot": {
      "main": [
        [
          {
            "node": "Obtener_Info_basica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_Info_basica": {
      "main": [
        [
          {
            "node": "Pregunta_el_Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta_o_agendar_cita": {
      "main": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tomar_parametros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tomar_parametros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente_Informacion_basica": {
      "main": [
        [
          {
            "node": "Separar_variables_en_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar_salida": {
      "main": [
        [
          {
            "node": "¿Enviar menú interactivo?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita_con_Equipo_asignado": {
      "main": [
        [
          {
            "node": "paso_0_inicio_agendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unificar_salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'chatbot-simple_1_subflow'": {
      "main": [
        [
          {
            "node": "Consulta_o_agendar_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar_variables_en_json": {
      "main": [
        [
          {
            "node": "¿Enviar menú interactivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paso_0_inicio_agendar": {
      "main": [
        [
          {
            "node": "Agendar_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar_cita": {
      "main": [
        [
          {
            "node": "Enviar_mensaje_de_IA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tomar_parametros": {
      "main": [
        [
          {
            "node": "Enviar_mensaje_de_IA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar menú interactivo?": {
      "main": [
        [
          {
            "node": "Formatear número de teléfono",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita_con_Equipo_asignado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear número de teléfono": {
      "main": [
        [
          {
            "node": "Enviar menú interactivo a WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar menú interactivo a WhatsApp": {
      "main": [
        [
          {
            "node": "Fin menú WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar menú interactivo?1": {
      "main": [
        [
          {
            "node": "Formatear número de teléfono1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar_mensaje_de_IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear número de teléfono1": {
      "main": [
        [
          {
            "node": "Enviar menú interactivo a WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar menú interactivo a WhatsApp1": {
      "main": [
        [
          {
            "node": "Fin menú WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "25115f46-e2b4-4e0c-8866-00026a80ea2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27f2fbd44aea77cdc4ee5b60d7a4eb1783a710ad686d97e24edf8a6f5832f241"
  },
  "id": "NI0K9YTDblrmhUrSpfFtR",
  "tags": []
}