shared/extra/19.0/ai_chatbot_1_portal/n8n/chatbot_create_lead_0.json
{
  "name": "chatbot_create_lead_0_con_menu_whatsapp",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        288,
        5536
      ],
      "id": "29dfa914-efad-4121-9115-36ca0d966a7b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2928,
        6448
      ],
      "id": "776ec849-2197-466d-9c21-367d990183c6",
      "name": "When chat message received",
      "webhookId": "d7373d29-7364-41f7-a73f-bd24b72daeea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96996d45-ddf6-4f34-850c-6135282de201",
              "name": "text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "886653c3-a819-4881-a860-62b44509d731",
              "name": "session_id",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "ee045dc3-b0e6-4366-b179-2bb78781425b",
              "name": "account_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "4d37a5ee-0b5e-40e0-a5ca-4dc372f0a1e6",
              "name": "conversation_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "3eb0a246-8cb9-477b-a0df-460f3c6b3b8a",
              "name": "message_type",
              "value": "incoming",
              "type": "string"
            },
            {
              "id": "af85fc32-b8b9-43a3-a666-403ad84a8e5f",
              "name": "user_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "49e39027-d5f1-4abb-9e53-22545e9b39c5",
              "name": "user_number",
              "value": "",
              "type": "string"
            },
            {
              "id": "d215ec30-76a4-4011-a990-a484c225565b",
              "name": "platform",
              "value": "Channel::Whatsapp",
              "type": "string"
            },
            {
              "id": "fbce67e5-7649-4e4f-86da-7022b5a7a047",
              "name": "channel",
              "value": "Channel::Whatsapp",
              "type": "string"
            },
            {
              "id": "cffc4318-41d4-470e-9204-0487f399268d",
              "name": "content",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "80e133a1-a3f2-456a-b8b9-c777b7febaf9",
              "name": "file_type",
              "value": "",
              "type": "string"
            },
            {
              "id": "d62b3d9d-284f-4bdf-a2c3-b97776ba817d",
              "name": "phone_number",
              "value": "",
              "type": "string"
            },
            {
              "id": "f5e36c51-bfc3-47c2-98c4-309b259890f5",
              "name": "user_message",
              "value": "",
              "type": "string"
            },
            {
              "id": "32c13a58-cbaf-45d2-ae7d-faa18aa1f017",
              "name": "image_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "d2dcdf4c-9ebb-4ac9-8183-fab3bafbce84",
              "name": "agente_desactivado",
              "value": "on",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2784,
        6368
      ],
      "id": "690589f6-dbba-442a-93e8-cbc81e511ef9",
      "name": "Seteamos_variables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::Whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4313ad77-8015-436a-a40d-3ef7cab78263"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37f80664-6420-4c2b-b965-b65ec4656310",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd226af3-e973-4fa2-adee-7b4988db3d90",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6bb7392d-9fa9-4da8-86ee-94ec3e7385e1",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::FacebookPage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c6773713-6da3-44c1-8df0-e8957d72913e",
                    "leftValue": {},
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error_no_existe_channel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1856,
        6352
      ],
      "id": "7cd1bcd9-0fe1-4645-a8b6-54b413171ca3",
      "name": "Indentifica_canal"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2528,
        6720
      ],
      "id": "2dc6b410-e01e-4fd4-be8b-f8abc4d2d91c",
      "name": "Dueno_o_Bot_responde"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $json.agente_desactivado }}",
                    "rightValue": "off",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respuesta_humana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1239d7b6-e41f-4d3b-a7b7-c6d691a43e69",
                    "leftValue": "={{ $json.agente_desactivado }}",
                    "rightValue": "on",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Respuesta IA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2240,
        6368
      ],
      "id": "9eaa79c7-5c34-4a26-9563-d9aea6443912",
      "name": "Configurar_IA_Responda?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b266895-9c0c-4a53-804d-2213bca3a1a0",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2480,
        6384
      ],
      "id": "da67de94-ea9d-4950-b8f8-bb5b18917453",
      "name": "Pregunta_el_Cliente?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1936,
        6096
      ],
      "id": "b56915c8-9d03-478b-80ba-824113cf107a",
      "name": "End1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        6080
      ],
      "id": "dd614ad1-6fb4-422e-8fd7-fe78db04cbf6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot_integraia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3008,
        5728
      ],
      "id": "c75909db-8086-4471-b2a5-7d57e3a724b5",
      "name": "Entrar_ChattWoot",
      "webhookId": "f2f3dab4-9ee7-4ad7-9fe8-96f79468b1f4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "=text",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "session_id",
              "value": "={{ $json.body.conversation.contact_inbox.source_id }}",
              "type": "string"
            },
            {
              "id": "9cbd2d29-4e32-46fd-bbea-88317ec7681d",
              "name": "account_id",
              "value": "={{ $json.body.conversation.messages[0].account_id }}",
              "type": "string"
            },
            {
              "id": "ddcd14fb-bfd1-4f23-a0e0-7d0fa54e8719",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "9052a8a2-5a39-4b6f-a44f-728e2e7c2c41",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "c76e6bbf-22cf-4dd8-ae67-49c5801c5be1",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "b16fbd53-b6a3-4e0b-ac12-01912379a2fc",
              "name": "user_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "327aa426-279e-4d47-b4a9-2910e9b62282",
              "name": "platform",
              "value": "={{ $json.body.conversation.channel.includes('Whatsapp') ? 'whatsapp' : ($json.body.conversation.channel.includes('Facebook') ? 'facebook' : ($json.body.conversation.channel.includes('Instagram') ? 'instagram' : ($json.body.conversation.channel.includes('Telegram') ? 'telegram' : 'otro'))) }}",
              "type": "string"
            },
            {
              "id": "f921da3f-2311-4646-a2c9-152401811c3f",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "12bb3da8-0d23-45ec-8ed8-a962d512d0fb",
              "name": "channel",
              "value": "={{ $json.body.conversation.channel }}",
              "type": "string"
            },
            {
              "id": "e70d5c0a-a243-4625-af3e-c40ca295cdef",
              "name": "content",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "8a12bb4d-d77a-466b-ac20-851d770c34c0",
              "name": "file_type",
              "value": "={{ $json.body.conversation.messages[0].attachments?.[0]?.file_type || null }}",
              "type": "string"
            },
            {
              "id": "664d94bf-9a93-472e-8d11-887f1f82af70",
              "name": "phone_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "31829d53-6dc4-4a0a-829f-6a203803d8ee",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "1ca7bf91-1d72-4995-a578-12c0aa68da8e",
              "name": "image_url",
              "value": "={{ $json.body.attachments && $json.body.attachments[0] && $json.body.attachments[0].data_url ? $json.body.attachments[0].data_url : '' }}",
              "type": "string"
            },
            {
              "id": "9741fd66-6a23-47b2-a5b1-0acb8401af6b",
              "name": "agente_desactivado",
              "value": "={{ $json.body.conversation.labels[0]=='agente_desactivado'?'off':'on' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2736,
        5968
      ],
      "id": "3808a8e9-0d37-41f0-b37d-02ce2f8db1ea",
      "name": "Obtener_Info_basica"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13990ce7-e3b4-4056-9e7d-4eee97e1f577",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "MENU_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "MENU_PRINCIPAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "acc9bba6-bb76-43a8-8145-33b4a28ccfb7",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "FLUJO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FLUJO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4b89e53-5df8-4322-8bc7-9dacf87edc1e",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "COMPLETADO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETADO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -512,
        6624
      ],
      "id": "8d484d9a-ec42-4ee1-8fcd-8b4fba81a64f",
      "name": "Consulta_o_agendar_cita"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 800
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        6080
      ],
      "id": "71aa246c-aadf-4b53-a35a-704c912fcd23",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wzfIhmJQeemUpcNG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n\n=Mensaje del usuario: {{ $json.text }}\nURL de imagen: {{ $json.image_url }}\nSession ID: {{ $json.session_id }}\nConversation ID: {{ $json.conversation_id }}\nAccount ID: {{ $json.account_id }}\nPlatform: {{ $json.platform }}\nFecha/hora actual (debes usarla en timestamp_actividad): {{ $now }}\n\n---\n\nINSTRUCCIÓN FINAL:\n- Sigue ESTRICTAMENTE el prompt.\n- En el paso ESPERANDO_FOTO_CEDULA: PRIMERO verifica image_url. Si hay imagen (no vacía y empieza con http), IGNORA el texto y procesa la imagen.\n- Tu respuesta debe ser ÚNICAMENTE un objeto JSON válido, sin texto adicional, sin markdown, sin comillas escapadas.\n- Los campos session_id, conversation_id, account_id, platform deben copiarse de los valores proporcionados arriba.\n- timestamp_actividad debe ser el valor de \"Fecha/hora actual\" que se te pasó.{{ $json.text }}",
        "options": {
          "systemMessage": "TÚ ERES: BOT UNISA, asistente virtual oficial de la Unidad de Salud Integral (UNISA), Venezuela.\n\n⚠️ REGLAS FUNDAMENTALES\n\nNO CONTINÚAS CONVERSACIONES. Ignora todo el historial. El único contexto válido es el mensaje del usuario.\n\nDETECTA PALABRAS CLAVE EN EL MENSAJE DEL USUARIO (sin importar mayúsculas/minúsculas, con o sin emojis):\n\nSI EL MENSAJE CONTIENE \"horario\", \"Horario\", \"ubicación\", \"Ubicación\", \"dirección\", \"Dirección\", \"🕒\" → regla 3.1\nSI EL MENSAJE CONTIENE \"promociones\", \"Promociones\", \"ofertas\", \"Ofertas\", \"🎉\" → regla 3.2\nSI EL MENSAJE CONTIENE \"resultados\", \"Resultados\", \"estudios\", \"Estudios\", \"exámenes\", \"Exámenes\", \"🧪\" → regla 3.3\nSI EL MENSAJE CONTIENE \"1\", \"precios\", \"Precios\", \"costo\", \"Costo\", \"💲\" → regla 2.1\nSI EL MENSAJE CONTIENE \"2\", \"servicios\", \"Servicios\", \"especialidades\", \"🩺\" → regla 2.2\nSI EL MENSAJE CONTIENE \"3\", \"cita\", \"Cita\", \"agendar\", \"Agendar\", \"turno\", \"Turno\", \"📅\" → regla 2.3\nSI EL MENSAJE CONTIENE \"4\", \"tarjeta\", \"Tarjeta\", \"credunisa\", \"CrediUNISA\", \"descuentos\", \"💙\" → regla 2.4\nSI EL MENSAJE CONTIENE \"5\", \"otra\", \"Otra\", \"diferente\", \"❓\" → regla 2.5\n\nSI EL MENSAJE ES UN SALUDO (\"hola\", \"Hola\", \"buenos días\", \"Buenos días\", \"hi\", \"Hi\", \"hello\") → regla 1\nSI EL MENSAJE ES EXACTAMENTE \"MENU_PRINCIPAL\" → regla 4.5\nSI EL MENSAJE ES EXACTAMENTE \"CANCELAR\" → regla 4.4\nSI EL MENSAJE ES EXACTAMENTE \"No\", \"NO\", \"no\" → regla 5\nSI NINGUNA REGLA COINCIDE → regla 6\n\n📋 LÓGICA DE DECISIÓN\n\n1. SALUDO INICIAL\n→ output: \"¡Hola! 😊 Bienvenido/a a UNISA, tu Unidad de Salud Integral.\\n\\n¿Qué necesitas hoy? Te ayudo con:\\n\\n1. Precios 💲 - Conoce nuestros precios básicos 2026\\n2. Servicios 🩺 - Descubre todos nuestros servicios médicos\\n3. Agendar cita 📅 - Para consulta, laboratorio o estudios\\n4. Tarjeta de la Salud 💙 - Información sobre la tarjeta o CREDIUNISA\\n5. Otra consulta ❓ - Cualquier otra pregunta\\n\\nPor favor, escribe el número o palabra clave.\"\n→ isMenu: true\n\n2.1 PRECIOS\n→ output: \"¡Con gusto! Estos son nuestros precios básicos 2026:\\n\\n• Consulta médica general → 25 USD\\n• Rayos X → 10 USD\\n• Mamografía sin implantes → 20 USD\\n• Mamografía con implantes → 30 USD\\n\\n¿Deseas agendar una cita con estos precios? Responde Sí o No.\"\n→ tipoPregunta: \"PRECIOS\"\n→ isMenu: false\n\n2.2 SERVICIOS\n→ output: \"¡Claro! En UNISA ofrecemos:\\n\\n• Consultas médicas generales y especialidades\\n• Laboratorio clínico\\n• Rayos X digital\\n• Ecografías\\n• Mamografía\\n• Densitometría ósea\\n• Electrocardiograma y ecocardiograma\\n• Espirometría\\n• Holter de presión y ritmo\\n• Atención Primaria Médica 24/7\\n\\n¿Te gustaría agendar una cita en alguna especialidad? Responde Sí o No.\"\n→ tipoPregunta: \"SERVICIOS\"\n→ isMenu: false\n\n2.3 CITA DIRECTA\n→ output: \"\"\n→ equipo_asignado: \"Agendamiento_Directo\"\n\n2.4 TARJETA\n→ output: \"¡Excelente decisión! Con la TARJETA DE LA SALUD obtienes:\\n\\n• Hasta 30% de descuento\\n• 1 consulta gratuita al año\\n• Vigencia de 12 meses\\n• Costo total: 80 USD → pagas 20 USD al afiliarte + 6 cuotas de 10 USD\\n\\n¿Deseas que un asesor se comunique contigo? Responde Sí o No.\"\n→ tipoPregunta: \"TARJETA\"\n→ isMenu: false\n\n2.5 OTRA CONSULTA\n→ output: \"\"\n→ equipo_asignado: \"Agendamiento_Otra_Consulta\"\n\n3.1 HORARIO / UBICACIÓN\n→ output: \"Nuestra Ubicación 📍\\nCalle el Calvario de los Robles, municipio Maneiro, Isla de Margarita.\\nhttps://maps.app.goo.gl/RJhhcWWWMe8PrnY5A?g_st=ac\\n\\n🕒 Horario:\\nLunes a Viernes: 07:00 am - 05:00 pm\\nSábado: 07:00 am - 01:00 pm\"\n→ tipoPregunta: \"ESTATICO\"\n→ isMenu: false\n\n3.2 PROMOCIONES\n→ output: \"🎉 Promociones vigentes en UNISA:\\n\\n• 20% dto. en ecografías\\n• 15% dto. en mamografías\\n• Consulta general a 20 USD\\n• Laboratorio: 10% dto. en perfiles completos\"\n→ tipoPregunta: \"ESTATICO\"\n→ isMenu: false\n\n3.3 RESULTADOS\n→ output: \"Hola 👋 Para enviarte tus resultados, necesito:\\n📄 Foto de cédula (o nombre completo y cédula)\\n📄 El estudio que necesitas\\n\\n✏️ Escribe todo en el mismo mensaje.\\n\\n⏱️ Respuesta: 15-30 min en horario laboral (L-V 7am-5pm)\"\n→ tipoPregunta: \"ESTATICO\"\n→ isMenu: false\n\n4.1 CONFIRMAR_CITA_PRECIOS → output: \"\" → equipo_asignado: \"Agendamiento_Directo\"\n4.2 CONFIRMAR_CITA_SERVICIOS → output: \"\" → equipo_asignado: \"Agendamiento_Directo\"\n4.3 CONFIRMAR_TARJETA → output: \"\" → equipo_asignado: \"Ventas_UNISA\"\n4.4 CANCELAR → output: \"Entiendo. ¿En qué más puedo ayudarte?\\n\\n1 – Precios 💲\\n2 – Servicios 🩺\\n3 – Agendar cita 📅\\n4 – Tarjeta de la Salud 💙\\n5 – Otra consulta ❓\" → isMenu: true\n4.5 MENU_PRINCIPAL → output: \"¿Qué necesitas hoy?\\n\\n1. Precios 💲\\n2. Servicios 🩺\\n3. Agendar cita 📅\\n4. Tarjeta de la Salud 💙\\n5. Otra consulta ❓\" → isMenu: true\n\n5. RESPUESTA NEGATIVA (\"No\")\n→ output: \"Entiendo. ¿En qué más puedo ayudarte?\\n\\n1 – Precios 💲\\n2 – Servicios 🩺\\n3 – Agendar cita 📅\\n4 – Tarjeta de la Salud 💙\\n5 – Otra consulta ❓\" → isMenu: true\n\n6. CUALQUIER OTRO MENSAJE\n→ output: \"Para ayudarte mejor, selecciona una opción:\\n\\n1. Precios 💲\\n2. Servicios 🩺\\n3. Agendar cita 📅\\n4. Tarjeta de la Salud 💙\\n5. Otra consulta ❓\\n\\nTambién puedes escribir: horario, ubicación, promociones o resultados.\" → isMenu: true\n\n🎯 FORMATO DE SALIDA - DEBES GENERAR UN JSON VÁLIDO (NO TEXTO ADICIONAL)\n\nEjemplo REAL cuando el usuario escribe \"🕒 Horario y ubicación\":\n{\"output\": \"Nuestra Ubicación 📍\\nCalle el Calvario de los Robles, municipio Maneiro, Isla de Margarita.\\nhttps://maps.app.goo.gl/RJhhcWWWMe8PrnY5A?g_st=ac\\n\\n🕒 Horario:\\nLunes a Viernes: 07:00 am - 05:00 pm\\nSábado: 07:00 am - 01:00 pm\", \"tipoPregunta\": \"ESTATICO\", \"session_id\": \"584142711347\", \"conversation_id\": \"1\", \"account_id\": \"1\", \"platform\": \"whatsapp\", \"timestamp_actividad\": \"2026-05-29T12:26:36.332-04:00\"}\n\nEjemplo REAL cuando el usuario escribe \"precios\":\n{\"output\": \"¡Con gusto! Estos son nuestros precios básicos 2026:\\n\\n• Consulta médica general → 25 USD\\n• Rayos X → 10 USD\\n• Mamografía sin implantes → 20 USD\\n• Mamografía con implantes → 30 USD\\n\\n¿Deseas agendar una cita con estos precios? Responde Sí o No.\", \"tipoPregunta\": \"PRECIOS\", \"session_id\": \"584142711347\", \"conversation_id\": \"1\", \"account_id\": \"1\", \"platform\": \"whatsapp\", \"timestamp_actividad\": \"2026-05-29T12:26:36.332-04:00\"}\n\nEjemplo REAL cuando el usuario escribe \"cita\":\n{\"output\": \"\", \"equipo_asignado\": \"Agendamiento_Directo\", \"session_id\": \"584142711347\", \"conversation_id\": \"1\", \"account_id\": \"1\", \"platform\": \"whatsapp\", \"timestamp_actividad\": \"2026-05-29T12:26:36.332-04:00\"}\n\n🔥 IMPORTANTE: \n- Responde SOLO con el JSON, nada más. No agregues texto antes o después.\n- Para HORARIO, PROMOCIONES, RESULTADOS → DEBES incluir \"tipoPregunta\": \"ESTATICO\"\n- Para PRECIOS, SERVICIOS, TARJETA → DEBES incluir \"tipoPregunta\": \"PRECIOS\", \"SERVICIOS\" o \"TARJETA\"\n- Para CITA DIRECTA → NO incluyas \"tipoPregunta\", solo \"equipo_asignado\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        5824
      ],
      "id": "dafa03c6-ebb9-460a-bf06-e9eb460393c9",
      "name": "Agente_Informacion_basica"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nuevosItems = [];\n\nfor (const item of items) {\n  const nuevoItem = {\n    json: {\n      ...item.json,\n      text: item.json.output,\n      content: item.json.output\n    }\n  };\n  nuevosItems.push(nuevoItem);\n}\n\nreturn nuevosItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        5776
      ],
      "id": "1c994dce-6ed6-43e4-a454-00e92c6c9ce1",
      "name": "Unificar_salida"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "464cd723-d01a-47da-bf96-baf16e9b790e",
              "leftValue": "={{ $json.equipo_asignado }}",
              "rightValue": "=Agendamiento",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        5664
      ],
      "id": "285705bd-0b25-4c88-943e-7d9e9024d07c",
      "name": "Cita_con_Equipo_asignado"
    },
    {
      "parameters": {
        "content": "## Solo responde la parte estatica de preguntas",
        "height": 528,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        5680
      ],
      "typeVersion": 1,
      "id": "6c4bc0bc-971d-4184-99c1-7ca807e20d73",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Procesa la data de entrada, y si es agendar cita con el primer paso chequea el telefono para buscar ya variables en bd y el suuario tipeee menos",
        "height": 480,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        6496
      ],
      "typeVersion": 1,
      "id": "1dc63bec-ef69-447c-949c-506e9431a571",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## I'Se canaliza Instagram, faceboook, whatsapp etc"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        6496
      ],
      "typeVersion": 1,
      "id": "63b7c4a0-032b-42a7-b2a4-4945867f9f2c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zg-VijB4F9ZE4KyUiChne",
          "mode": "list",
          "cachedResultUrl": "/workflow/zg-VijB4F9ZE4KyUiChne",
          "cachedResultName": "chatbot-simple_1_subflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.text }}",
            "session_id": "={{ $json.session_id }}",
            "platform": "={{ $json.platform }}",
            "image_url": "={{ $json.image_url }}",
            "account_id": "={{ $json.account_id }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "message_type": "={{ $json.message_type }}",
            "user_name": "={{ $json.user_name }}",
            "user_number": "={{ $json.user_number }}",
            "channel": "={{ $json.channel }}",
            "file_type": "={{ $json.file_type }}",
            "content": "={{ $json.text }}",
            "phone_number": "={{ $json.user_number }}",
            "user_message": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_number",
              "displayName": "user_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "agente_desactivado",
              "displayName": "agente_desactivado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1328,
        6640
      ],
      "id": "8fce3fa6-93b5-4f13-a6bd-d1fead314ccd",
      "name": "Call 'chatbot-simple_1_subflow'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integraiadev.unisasalud.com/ai_chatbot_1_portal/inicioagendar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"conversation_id\":\"{{ $json.conversation_id }}\",\n  \"account_id\":\"{{ $json.account_id }}\",\n   \"name_flow\": \"flujoprueba\",\n   \"equipo_asignado\": \"{{$json.equipo_asignado|| \"\"}}\"\n \n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        5328
      ],
      "id": "5675e764-0d2e-42f3-8c33-1cfe63a79cce",
      "name": "paso_0_inicio_agendar",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nuevosItems = [];\n\nfunction detectarSiNo(texto) {\n  if (!texto || typeof texto !== 'string') return false;\n  const patrones = [\n    /\\b(sí|si)\\s*\\/\\s*no\\b/i,\n    /\\b(aceptas|confirmas|estás de acuerdo|quieres|deseas|te gustaría)\\b.*\\?/i,\n    /^.*\\?.*(sí|si).*(no).*$/i,\n    /¿(deseas|quieres|te gustaría|estás seguro|aceptas)/i,\n    /\\b(yes|no)\\b/i,\n    /\\b(responder (sí|si|no))\\b/i\n  ];\n  return patrones.some(p => p.test(texto));\n}\n\nconst mapeoFlow = {\n  'Agendamiento_Directo': 'flujo_agendamiento_directo',\n  'Agendamiento_Precios': 'flujo_agendamiento_precios',\n  'Agendamiento_Tarjeta': 'flujo_agendamiento_tarjeta',\n  'Agendamiento_Servicios': 'flujo_agendamiento_servicios',\n  'Agendamiento_Otra_Consulta': 'flujo_agendamiento_otra_consulta'\n};\nconst flowPorDefecto = 'flujo_agendamiento_default';\n\nfor (const item of items) {\n  try {\n    let str = item.json.output;\n\n    str = str.replace(/\\\\u\\{([^}]+)\\}/g, (match, inner) => {\n      const parts = inner.split(/\\\\u/);\n      let result = '';\n      for (let part of parts) {\n        if (part === '') continue;\n        result += String.fromCodePoint(parseInt(part, 16));\n      }\n      return result;\n    });\n\n    const datosParseados = JSON.parse(str);\n\n    if (datosParseados.output && typeof datosParseados.output === 'string') {\n      const match = datosParseados.output.match(/^\\s*equipo_asignado:\\s*\"([^\"]*)\"\\s*$/);\n      if (match) {\n        datosParseados.equipo_asignado = match[1];\n      }\n    }\n\n    const resultado = {\n      ...item.json,\n      ...datosParseados,\n      output: datosParseados.output,\n      tipoPregunta: datosParseados.tipoPregunta || null\n    };\n\n    let isMenuValue = false;\n    if (datosParseados.isMenu === true) {\n      isMenuValue = true;\n    } else if (datosParseados.output && typeof datosParseados.output === 'string') {\n      const texto = datosParseados.output;\n      if (texto.includes('¡Hola! 😊 Bienvenido/a') || \n          texto.includes('Para ayudarte mejor, por favor selecciona') ||\n          texto.includes('¿Qué necesitas hoy?')) {\n        isMenuValue = true;\n      }\n    }\n    resultado.isMenu = isMenuValue;\n\n    let esPreguntaSiNo = false;\n    if (datosParseados.esPreguntaSiNo === true) {\n      esPreguntaSiNo = true;\n    } else if (datosParseados.output && typeof datosParseados.output === 'string') {\n      esPreguntaSiNo = detectarSiNo(datosParseados.output);\n    }\n    resultado.esPreguntaSiNo = esPreguntaSiNo;\n\n    const equipo = resultado.equipo_asignado;\n    resultado.flow_name = mapeoFlow[equipo] || flowPorDefecto;\n\n    nuevosItems.push({ json: resultado });\n\n  } catch (e) {\n    const errorItem = {\n      json: {\n        error: e.message,\n        original: item.json.output,\n        ...item.json\n      }\n    };\n    errorItem.json.flow_name = flowPorDefecto;\n    nuevosItems.push(errorItem);\n  }\n}\n\nreturn nuevosItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        5824
      ],
      "id": "d2e972af-d6a6-4791-8ced-ac2100213ce1",
      "name": "Separar_variables_en_json"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dda4884d-04e1-451c-b3af-f5a3183f2580",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "70bff820-cfc3-4071-bcaa-4478eb7828e9",
              "name": "conversation_id",
              "value": "={{ $('Cita_con_Equipo_asignado').item.json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "d80d48b5-7d3e-4e34-bf33-cf46fa3b4e5d",
              "name": "account_id",
              "value": "={{ $('Cita_con_Equipo_asignado').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "d784b741-4e38-4288-9223-4974592d75fb",
              "name": "platform",
              "value": "={{ $('Cita_con_Equipo_asignado').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "1021f53b-9c20-4d37-abf1-1622ce5bbd86",
              "name": "text",
              "value": "={{ $json.steps[0].nombre_mostrar }}",
              "type": "string"
            },
            {
              "id": "4046b530-a78d-4676-b4ad-f2f8f2f81919",
              "name": "output",
              "value": "={{ $json.steps[0].nombre_mostrar }}",
              "type": "string"
            },
            {
              "id": "0aebd45e-44c0-4633-9710-c3af2e6d9422",
              "name": "content",
              "value": "={{ $json.steps[0].nombre_mostrar }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        5328
      ],
      "id": "754aa2f5-0235-47c1-9bd6-b0051161e660",
      "name": "Agendar_cita"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.unisasalud.com/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "bKYDrpmQjhS8yn8pFKEsMkCw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        6016
      ],
      "id": "9cd4c5c4-a3ac-4280-b253-0c2f61bfa604",
      "name": "Enviar_mensaje_de_IA1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.unisasalud.com/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "bKYDrpmQjhS8yn8pFKEsMkCw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        5328
      ],
      "id": "20749c75-1427-4233-8842-da40f0bf402e",
      "name": "Enviar_mensaje_de_IA2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "890f5802-1895-46b4-bfb3-c2f44596d4ce",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "e0d55966-2cdd-436b-b684-a8b11a217a2b",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "f33e3c5f-da1a-466a-b726-e12e19fdcb0b",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "53961174-87e8-4d3c-ae50-4da02dbac3c3",
              "name": "modo",
              "value": "={{ $json.modo }}",
              "type": "string"
            },
            {
              "id": "dcb665ab-5283-4902-bc0f-bff04a90180f",
              "name": "nombre_mostrar",
              "value": "={{ $json.texto_para_usuario }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        6720
      ],
      "id": "36c2c98b-28b7-4cc2-85d6-972217ff4db7",
      "name": "tomar_parametros"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.unisasalud.com/api/v1/accounts/{{$json.account_id}}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "bKYDrpmQjhS8yn8pFKEsMkCw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.nombre_mostrar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        6592
      ],
      "id": "7d4a2a82-07f8-4e65-9e12-acac6798f9d2",
      "name": "Enviar_mensaje_de_IA3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "menu_whatsapp_condition",
              "leftValue": "={{\n  $json.platform === 'whatsapp' && \n  ($json.isMenu === true ||\n   (typeof $json.output === 'string' && $json.output.length > 0 &&\n    ($json.output.match(/[1-5]\\.\\s*(Precios|Servicios|Agendar|Tarjeta|Otra)/i) !== null ||\n     $json.output.includes('Bienvenido/a') ||\n     $json.output.includes('selecciona una opción'))))\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        5840
      ],
      "id": "bdcce259-1d19-4fca-9d37-f84f91045ff8",
      "name": "¿Enviar menú interactivo?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  let phone = item.json.user_number || item.json.phone_number || item.json.session_id;\n  \n  if (!phone) {\n    item.json.phone_number_formatted = null;\n    continue;\n  }\n  \n  phone = String(phone);\n  if (!phone.startsWith('+')) {\n    phone = '+' + phone;\n  }\n  item.json.phone_number_formatted = phone;\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        5984
      ],
      "id": "69f19294-e85d-4c76-ac49-b85020f0072c",
      "name": "Formatear número de teléfono"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/1136369756228609/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAANzQtUGy6UBRlUI4ZBmMYkU05xaWXsIXT5KVVyOMXQHzXDmZAZAufwzijvSJRWAa2Ryx2ZCdHrHLiQwbEZCAZCieFH0MXiMZBR9TrkdLZCVLWVNdC3p1JoGd7wIjtVzimGmUWcFKJP7tc6FBBDnDnHP2UQmSOagYAClwhhaXEbnHxgFMQ8JagYgrTsGklOVeAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.phone_number_formatted }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"list\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🏥 UNISA - Unidad de Salud Integral\"\n    },\n    \"body\": {\n      \"text\": \"Hola! 😊 Bienvenido/a. ¿Qué necesitas hoy? Selecciona una opción:\"\n    },\n    \"footer\": {\n      \"text\": \"Elige una opción del menú\"\n    },\n    \"action\": {\n      \"button\": \"📋 Ver opciones\",\n      \"sections\": [\n        {\n          \"title\": \"Servicios e información\",\n          \"rows\": [\n            { \"id\": \"precios\", \"title\": \"💰 Precios\", \"description\": \"Conoce nuestros precios básicos 2026\" },\n            { \"id\": \"servicios\", \"title\": \"🩺 Servicios médicos\", \"description\": \"Descubre todos nuestros servicios\" },\n            { \"id\": \"agendar_cita\", \"title\": \"📅 Agendar cita\", \"description\": \"Consulta, laboratorio o estudios\" }\n          ]\n        },\n        {\n          \"title\": \"Trámites\",\n          \"rows\": [\n            { \"id\": \"tarjeta_salud\", \"title\": \"💙 Tarjeta de la Salud\", \"description\": \"Información sobre la tarjeta o CREDIUNISA\" },\n            { \"id\": \"otra_consulta\", \"title\": \"❓ Otra consulta\", \"description\": \"Cualquier otra pregunta\" }\n          ]\n        },\n        {\n          \"title\": \"Información útil\",\n          \"rows\": [\n            { \"id\": \"horario\", \"title\": \"🕒 Horario y ubicación\", \"description\": \"Dirección y horarios de atención\" },\n            { \"id\": \"promociones\", \"title\": \"🎉 Promociones\", \"description\": \"Ofertas y descuentos vigentes\" },\n            { \"id\": \"resultados\", \"title\": \"🧪 Resultados de estudios\", \"description\": \"Cómo recibir tus exámenes\" }\n          ]\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        6544
      ],
      "id": "72130757-217b-4e2f-b740-78c32b81661d",
      "name": "Enviar menú interactivo a WhatsApp"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1744,
        6560
      ],
      "id": "76d5e3f5-3d9d-46ca-953b-2f475e080172",
      "name": "Fin menú WhatsApp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "menu_whatsapp_condition",
              "leftValue": "={{ $json.platform === 'whatsapp' && ($json.esPreguntaSiNo === true || $json.tipoPregunta === \"ESTATICO\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        5792
      ],
      "id": "889ec583-5752-41c0-820a-643db87cad9b",
      "name": "¿Enviar menú interactivo?1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nuevosItems = [];\n\nfor (const item of items) {\n  const tipo = item.json.tipoPregunta;\n  const outputText = item.json.output;\n  let phone = item.json.user_number || item.json.phone_number || item.json.session_id;\n  \n  if (phone && !phone.startsWith('+')) {\n    phone = '+' + phone;\n  }\n  \n  let botones = [];\n  \n  // PRECIOS - botones Sí/No\n  if (tipo === 'PRECIOS') {\n    botones = [\n      { type: \"reply\", reply: { id: \"CONFIRMAR_CITA_PRECIOS\", title: \"✅ Sí\" } },\n      { type: \"reply\", reply: { id: \"CANCELAR\", title: \"❌ No\" } }\n    ];\n  } \n  // SERVICIOS - botones Sí/No\n  else if (tipo === 'SERVICIOS') {\n    botones = [\n      { type: \"reply\", reply: { id: \"CONFIRMAR_CITA_SERVICIOS\", title: \"✅ Sí\" } },\n      { type: \"reply\", reply: { id: \"CANCELAR\", title: \"❌ No\" } }\n    ];\n  } \n  // TARJETA - botones Sí/No\n  else if (tipo === 'TARJETA') {\n    botones = [\n      { type: \"reply\", reply: { id: \"CONFIRMAR_TARJETA\", title: \"✅ Sí\" } },\n      { type: \"reply\", reply: { id: \"CANCELAR\", title: \"❌ No\" } }\n    ];\n  } \n  // ESTATICO - horario, promociones, resultados (solo botón volver al menú)\n  else if (tipo === 'ESTATICO') {\n    botones = [\n      { type: \"reply\", reply: { id: \"MENU_PRINCIPAL\", title: \"🔙 Menú\" } }\n    ];\n  } \n  // Si no hay tipoPregunta, no enviamos botones (se envía como texto normal)\n  else {\n    nuevosItems.push(item);\n    continue;\n  }\n  \n  // Construir el payload de WhatsApp\n  const whatsappPayload = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: phone,\n    type: \"interactive\",\n    interactive: {\n      type: \"button\",\n      body: { text: outputText },\n      action: { buttons: botones }\n    }\n  };\n  \n  nuevosItems.push({ \n    json: {\n      ...item.json,\n      whatsappPayload: whatsappPayload,\n      phone_number_formatted: phone\n    }\n  });\n}\n\nreturn nuevosItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        5600
      ],
      "id": "e7cb4032-dd63-4662-932c-57bff22eb0b8",
      "name": "Construir_botones_WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/1136369756228609/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAANzQtUGy6UBRlUI4ZBmMYkU05xaWXsIXT5KVVyOMXQHzXDmZAZAufwzijvSJRWAa2Ryx2ZCdHrHLiQwbEZCAZCieFH0MXiMZBR9TrkdLZCVLWVNdC3p1JoGd7wIjtVzimGmUWcFKJP7tc6FBBDnDnHP2UQmSOagYAClwhhaXEbnHxgFMQ8JagYgrTsGklOVeAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.whatsappPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1840,
        5600
      ],
      "id": "18d3d4f6-0e76-45c3-82e3-8ecf1b608511",
      "name": "Enviar menú interactivo a WhatsApp1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2304,
        5616
      ],
      "id": "89e6452b-bfd3-45ec-b555-510242a0b6a5",
      "name": "Fin menú WhatsApp1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        6224
      ],
      "typeVersion": 1,
      "id": "3f4bfe91-26bb-483e-9c58-044f2f9af781",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        6224
      ],
      "typeVersion": 1,
      "id": "bf7b376e-0440-430c-ae96-546ab8d1d665",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        6224
      ],
      "typeVersion": 1,
      "id": "87d3f5b6-4693-4862-acfc-77fd7068c8b0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        6304
      ],
      "typeVersion": 1,
      "id": "9f697e13-a47f-4727-93da-e16bfb0b4c71",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        6304
      ],
      "typeVersion": 1,
      "id": "b26ce1d7-a551-4f74-947b-4a9a57a79bbf",
      "name": "Sticky Note7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        6304
      ],
      "typeVersion": 1,
      "id": "25508620-21b8-4a31-8ac7-19efc491c415",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "output": "{\n  \"output\": \"\",\n  \"equipo_asignado\": \"Agendamiento_Directo\",\n  \"session_id\": \"584142711347\",\n  \"conversation_id\": \"1\",\n  \"account_id\": \"1\",\n  \"platform\": \"whatsapp\",\n  \"timestamp_actividad\": \"2026-05-29T13:35:40.258-04:00\"\n}"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Seteamos_variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seteamos_variables": {
      "main": [
        [
          {
            "node": "Pregunta_el_Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indentifica_canal": {
      "main": [
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'chatbot-simple_1_subflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar_IA_Responda?": {
      "main": [
        [
          {
            "node": "End1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Indentifica_canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pregunta_el_Cliente?": {
      "main": [
        [
          {
            "node": "Configurar_IA_Responda?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dueno_o_Bot_responde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Entrar_ChattWoot": {
      "main": [
        [
          {
            "node": "Obtener_Info_basica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_Info_basica": {
      "main": [
        [
          {
            "node": "Pregunta_el_Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta_o_agendar_cita": {
      "main": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tomar_parametros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tomar_parametros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_Informacion_basica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente_Informacion_basica": {
      "main": [
        [
          {
            "node": "Separar_variables_en_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar_salida": {
      "main": [
        [
          {
            "node": "¿Enviar menú interactivo?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita_con_Equipo_asignado": {
      "main": [
        [
          {
            "node": "paso_0_inicio_agendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unificar_salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'chatbot-simple_1_subflow'": {
      "main": [
        [
          {
            "node": "Consulta_o_agendar_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar_variables_en_json": {
      "main": [
        [
          {
            "node": "¿Enviar menú interactivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paso_0_inicio_agendar": {
      "main": [
        [
          {
            "node": "Agendar_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar_cita": {
      "main": [
        [
          {
            "node": "Enviar_mensaje_de_IA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tomar_parametros": {
      "main": [
        [
          {
            "node": "Enviar_mensaje_de_IA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar menú interactivo?": {
      "main": [
        [
          {
            "node": "Formatear número de teléfono",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita_con_Equipo_asignado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear número de teléfono": {
      "main": [
        [
          {
            "node": "Enviar menú interactivo a WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar menú interactivo a WhatsApp": {
      "main": [
        [
          {
            "node": "Fin menú WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Separar_variables_en_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar menú interactivo?1": {
      "main": [
        [
          {
            "node": "Construir_botones_WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar_mensaje_de_IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir_botones_WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar menú interactivo a WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar menú interactivo a WhatsApp1": {
      "main": [
        [
          {
            "node": "Fin menú WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6c0ea02c-e741-4b53-a8db-6be1d78dfa43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27f2fbd44aea77cdc4ee5b60d7a4eb1783a710ad686d97e24edf8a6f5832f241"
  },
  "id": "NI0K9YTDblrmhUrSpfFtR",
  "tags": []
}